[2017-04-18 16:12] FatherWh0 opened #209 "Could not create parent directories error regarding default.json and last-logout.json"
After updating to 1.10.0 when pwi attempts to write to default.json or last-logout.json it creates the following console errors.
[15:25:53] [Craft Scheduler Thread - 942/WARN]: [PerWorldInventory] Could not create parent directories while trying to create 'plugins/PerWorldInventory/data/60451dd5-ffc6-4eb1-914b-73bbf5ad41f4/default.json'
[15:25:53] [Craft Scheduler Thread - 940/WARN]: [PerWorldInve

[2017-04-18 16:26] Gnat008 commented on #208
Now that's interesting... What seems to be happening is that when teleporting, his GameMode changed FIRST, and then the player is teleported. That is the opposite of what happens on my server.... This shouldn't in itself be a problem, except for the fact that the loading of the new GameMode's inventory is happening AFTER he is in the other world and that world's inventory has been loaded.

You use

[2017-04-18 16:33] Gnat008 commented on #209
Paging @ljacqu

I think this happens because if the method `File#mkdirs()` fails to make any of the necessary directories (i.e. if they already exist maybe?), it will return false, thus we print that message.

From the Java documentation:

[2017-04-18 17:31] DominusLux commented on #208
Yes we use multiverse for managing multiple worlds, as well as its portal counterpart.

[2017-04-18 17:41] Gnat008 commented on #208
As do we... hm. Maybe give all players the permission `mv.bypass.gamemode.*` to disable MV managing GameModes, and enable `manage-gamemode` in the PWI config?

[2017-04-18 17:45] Gnat008 commented on #199
@gunleader You have some incorrect spacing in your config file, which is probably breaking YAML.

[2017-04-18 17:45] DominusLux commented on #208
ok, well try that and report back later.

[2017-04-19 03:50] DominusLux commented on #208
So, we did what you said and according to PWI debug its apparently still  changing gamemode before teleporting and inventory still carried over.

![img_18042017_212910_0](https://cloud.githubusercontent.com/assets/27710303/25162556/be4080be-2491-11e7-8b6a-2e506496cf1e.png)
![img_18042017_212944_0](https://cloud.githubusercontent.com/assets/27710303/25162557/be411588-2491-11e7-9970-b506b99265a5.png

[2017-04-19 13:50] ItsMennyo opened #210 "An error when the server goes out..."
I use the version you gave me last where it was rectified the __default.json bug.

`[15:44:15 ERROR]: Could not pass event PlayerKickEvent to PerWorldInventory v1.10.1
org.bukkit.event.EventException
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:310) ~[Spigot.jar:git-Spigot-c6871e2-0cd0397]
        at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredLis

[2017-04-19 16:21] ChickenPillow commented on #206
In Game it says:

Please notify a server administrator!

And on the console it says this:

[18:19:38] [Craft Scheduler Thread - 20/ERROR]: [PerWorldInventory] Unable to find inventory data for player 'ChickenPillow' for group 'KitPvP': [FileNotFoundException] plugins/PerWorldInventory/data/defaults/__default.json (No such file or directory)
[18:19:38] [Craft Scheduler Thread - 20/WARN]: java.io.Fi

[2017-04-19 21:48] NevitOfficial opened #211 "Will Not Create Config Folder"
My server is running "CraftBukkit version git-Spigot-6016ac7-10c10b3 (MC: 1.10)". And I placed the .jar file in my plugins folder restarted it multiple times and the plugin folder will not create. Is there any other plugin required with this like ProtocolLib? Just let me know.

[2017-04-19 23:52] Gnat008 commented on #210
Looks like Essentials is being disabled before PWI can get player balances...

[2017-04-19 23:53] Gnat008 commented on #211
Nope. Most likely there is an error on startup. Could you please check your logs/console and paste it here for me?

[2017-04-20 18:41] dev-job commented on #200
I notice this too, a possible would be to listen to events regarding player death and to look up the world in which they died so you can whipe the inventory of that group

[2017-04-21 12:25] ItsMennyo commented on #210
Mmm... that's weird. He was still active but I still get this often. Fortunately, "economy:" is on false so it would not matter much... I think 😋

[2017-04-22 06:19] ljacqu commented on #209
Hi @Gnat008, you're right, but when I look at FileUtils I see that it's checking for the parent folder's existence first. This is strange to me, and from mobile (currently) the cause isn't clear to me

[2017-04-22 06:28] MrWardy commented on #202
@Gnat008 So, I'm not sure if I'm adding a negative permission right or not, but it still isn't working. Here's my permissions config for my group that I have on myself.
http://i.imgur.com/RlJhf1A.png

[2017-04-22 18:42] Superdarco opened #212 "Error while starting plugin"
Hi, This plugin is very good but recently I am getting this message, I hope you fix it in the next version

[13:36:40] [Server thread/INFO]: [PerWorldInventory] Enabling PerWorldInventory v1.10.0
[13:36:40] [Server thread/WARN]: [PerWorldInventory] Could not save default.json to plugins\PerWorldInventory\default.json because default.json already exists.
[13:36:41] [Server thread/INFO]: [PerWorldIn

[2017-04-22 18:53] Gnat008 commented on #212
Duplicate of #204. Please see that issue. :)

[2017-04-22 18:53] #212 closed

[2017-04-22 19:02] Superdarco commented on #212
Oh ok sorry

[2017-04-22 20:40] NevitOfficial commented on #211
What is the plugin titled when you do /plugin? Is it titled PerWorldInventory or InventoryPerWorld?

[2017-04-22 20:53] Gnat008 commented on #211
PerWorldInventory.

[2017-04-22 20:54] NevitOfficial commented on #211
Alright, I have a plugin called InventoryPerWorld in there. Ill send you the console in a bit.

[2017-04-23 00:35] NevitOfficial commented on #211
[latest-log.txt](https://github.com/Gnat008/PerWorldInventory/files/949389/latest-log.txt)

[2017-04-23 00:36] Gnat008 commented on #211
Ah. PWI requires Java 8, you have Java 7. You'll have to update Java.

[2017-04-23 00:37] NevitOfficial commented on #211
Oh okay! Thank you for the help.

[2017-04-23 00:38] Gnat008 commented on #211
Not a problem! That's why I'm here.

[2017-04-23 17:12] ChickenPillow commented on #206
Just checking whether you saw this?

[2017-04-23 18:08] Pigna opened #213 "Player Death Duplicate bug - bed diffrent world"
When a player dies in survival when having his bed set in a diffrent world with not shared inventory his on death inventory will be loaded back in to the player when he returns to the survival world. Making him have double the items becouse of the loaded items and the on death dropped items.

Example:
Player 'nick' has a bed in creative (to make it day).
He goes to survival has 1 diamond sword in

[2017-04-23 18:38] Pigna commented on #213
Made multiverse set all bedspawns off to prevent misuse of this bug. but world love to see it fixed since players can not use beds atm.

[2017-04-25 18:06] ChickenPillow commented on #206
Just checking whether you saw this?

[2017-04-26 04:01] CultivateMC opened #214 "Skulls Disappearing from Inventory on Gamemode Change"
How to Reproduce: Place skulls in your inventory in creative. Change to survival mode. Skulls will disappears. Affects all types of Skulls except Essentials-created Player skulls (using /skull ign).

What should happen: Skulls should not be lost on gamemode switch.

Config:
manage-gamemodes: true
separate-gamemode-inventories: true
share-if-unconfigured: false
metrics:
    enable: true
    send-nu

[2017-04-27 19:57] Gnat008 commented on #214
This is intended due to an issue with Spigot throwing errors when a skull does not have valid or complete information.

[2017-04-28 01:25] CultivateMC commented on #214
@Gnat008 gone from the inventory entirely.

[2017-04-28 04:12] Gnat008 commented on #214
Okay, that's odd. Are there any errors in the server console or logs?

On Apr 27, 2017 9:25 PM, "CultivateMC" <notifications@github.com> wrote:

[2017-04-28 12:51] CultivateMC commented on #214
@Gnat008 nope.

[2017-04-29 16:59] Typhome opened #215 "Task #43 for PerWorldInventory v1.10.0 generated an exception"
PerWorldInventory v1.10.0

When players come from survival to another world (creative) then their inventory contains survival stuff, and they can't get those stuff back from another world (creative) to survival.
Survival world is "prica" and another world (creative) is "ev".
[code]

[code]

[2017-05-02 18:06] theISSUEfinder3 opened #216 "Allow specific items two bypass"
the title says it all. And it coud be nive with a /perworldgive [world] [player] [item/ID] thanks

[2017-05-05 07:19] PinoyLifeCraft commented on #191
Same here !

[2017-05-05 12:01] Rocologo opened #217 "Error when new players logon to my server"
I get this error everytime a new player logon to my server:

05.05 13:57:14 [Server] WARN [PerWorldInventory] Could not create parent directories while trying to create 'plugins/PerWorldInventory/data/d9357d67-caed-41cd-94a8-34deb07d5e13/survival.json'

I am on Spigot 1.11.2 (05.05 14:00:43 [Server] INFO This server is running CraftBukkit version git-Spigot-3fb9445-fbb47e8 (MC: 1.11.2) (Implementi

[2017-05-05 12:02] Rocologo opened #218 "Error when changing to creative"
I get this error if I change my playermode from Survival to Creative.

05.05 13:45:42 [Server] WARN [PerWorldInventory] [ECON] Unable to withdraw currency from bank of 'Rocologo': null

[2017-05-05 12:08] Rocologo opened #219 "Error on slow logon"
When I was testing my own plugin (running both Eclipse, my Minecraft Test Server and my Minecraft client, I got lag when I tried to logon, and this resulted in that I was disconnected from the server.

The I logged on again and got on my Testserver, but I discovered that my Inventory was gone???

Then I checked the console log and found this error:

[2017-05-06 20:55] PockyMonstrosity commented on #191
Same here. Renamed PerWorldInventory/data/defaults/default.json to PerWorldInventory/data/defaults/__default.json and it appears to create everything correctly. At least it no longer throws the exception.

[2017-05-09 06:27] Rocologo commented on #217
This one was solved using "chmod -R 770 PerWorldInventry" ......

[2017-05-09 06:27] #217 closed

[2017-05-09 09:56] ScuroK commented on #213
I have same problem on fall damage. They respawn in another world and then go back.
This is a major dupe bug!!

[2017-05-09 10:59] ScuroK opened #220 "MAJOR: Dupe Glitch in latest version"
If a player dies from fall damage he will respawn in another world. If he returns to the place of death his items will be duped.

He will keep them in his inventory and also find them on the floor aswell! please fix ASAP! thanks <3

[2017-05-09 16:42] Pigna commented on #220
I can confirm. Way i 'fixed' this is to turn off bedspawn in all worlds and if a player dies in one world he returns to the spawn of that world. Not the best solution.... but still beter then a dupe bug

[2017-05-10 08:54] ScuroK commented on #220
@Gnat008 any chance u can fix this soon?

[2017-05-13 02:16] JdeFalconr opened #221 "Imported worlds: inventories empty"
I just fired up Multiverse 2 and PWI and after importing my existing worlds into Multiverse I've found that all inventories are empty when going to those worlds. However for the base world ("world") PWI retained my inventory just fine. I've made sure to define all of the imported worlds as separate groups in the worlds.yml file. When TP'ing to the world I get an error in chat the first time into a

[2017-05-15 16:50] im4g1n4t1onsX opened #222 "Problem loading inventorys"
Hey the plugin works fine but when i go to another world i still have my stuff. is there anything i need to change in the config? please help.

[2017-05-16 16:13] DaedalusPrime97 opened #223 "No inventory's per world, while everything is configured correctly"

[2017-05-18 17:44] im4g1n4t1onsX commented on #222
nvm it works sorry

[2017-05-18 17:44] #222 closed

[2017-05-18 17:46] im4g1n4t1onsX commented on #221
use /pwi convert multiverse
Check the console but sometimes it does not show up if it is done converting. then i should work. It worked when i did it.

[2017-05-18 17:47] im4g1n4t1onsX commented on #202
The plugin works but your config is done wrong you have to write it diffrent and convert it to multiverse with per world inventory

[2017-05-18 17:48] im4g1n4t1onsX commented on #208
You have to convert it. to multiverse with per world inventory

[2017-05-18 17:48] Gnat008 commented on #223
Can you paste your worlds.yml file to hastebin.com and drop the link here for me?

[2017-05-18 17:49] im4g1n4t1onsX commented on #223
use multiverse inventorys plugin and then convert it /pwi convert multiverse

[2017-05-18 17:50] Gnat008 commented on #223
Um. Randomly trying to convert won't do anything for him. Especially if this is on a fresh server...

[2017-05-18 17:52] JdeFalconr commented on #221
Thank you im4g1n4t1onsX, I appreciate the response. Is that a per-world command? I thought I'd run it previously but I can give it another go. Also is that applicable even if I never used Multiverse Inventories? All of the setup I'm working with (besides the existing MC server and worlds, of course) is a fresh install.

[2017-05-18 17:54] im4g1n4t1onsX commented on #221
yes it is a pworld command but you will need multiverse inventorys installed

[2017-05-18 17:54] Gnat008 commented on #221
Uh if you've never used MV-I, then converting will do nothing as there is literally nothing to convert. Also it is not per-world. @JdeFalconr What version of PWI are you running?

[2017-05-18 17:54] im4g1n4t1onsX commented on #223
wel it worked for me?

[2017-05-18 17:54] Gnat008 commented on #221
@im4g1n4t1onsX

No it isnt.

[2017-05-18 17:55] im4g1n4t1onsX commented on #221
no?

[2017-05-18 17:55] im4g1n4t1onsX commented on #221
oops?

[2017-05-18 17:55] Gnat008 commented on #221
Converting will convert everything at once.

[2017-05-18 17:55] im4g1n4t1onsX commented on #221
LOL but all of this worked for me

[2017-05-18 17:55] im4g1n4t1onsX commented on #221
ok

[2017-05-18 17:56] im4g1n4t1onsX commented on #221
just trying to help

[2017-05-18 17:56] JdeFalconr commented on #221
Thanks everyone. I should be running v1.10.0 of PWI.

[2017-05-18 17:57] im4g1n4t1onsX commented on #221
does it work now?

[2017-05-18 17:58] Gnat008 commented on #221
I think I may have identified the problem in the code... Give me a moment.

[2017-05-18 18:00] JdeFalconr commented on #221
Thank you!! I'll need to do testing when I get home later this evening. FYI I disabled PWI when I found it wasn't working so I'll have to re-enable the plugin, although I believe all of the original config files should still be present. My assumption is that it hasn't done anything to the player inventories from the original worlds but I have backups of all of the original files in case their inve

[2017-05-18 18:01] im4g1n4t1onsX commented on #221
does it work now?

[2017-05-18 18:06] im4g1n4t1onsX opened #224 "gap"
how do i create a gap in a lore

[2017-05-18 18:12] Gnat008 commented on #221
@JdeFalconr Could you test this version for me and tell me if it fixes this issue? https://drive.google.com/open?id=0B7hS84xeTkpsSzRUS1FkekFGbms

[2017-05-18 18:36] JdeFalconr commented on #221
@Gnat008 Happy to. I'll give it a go later this evening and let you know.

[2017-05-18 18:52] im4g1n4t1onsX commented on #221
Can I download it to?

[2017-05-18 20:15] DominusLux commented on #208
converting didnt change anything, still the same issue

[2017-05-18 21:10] Gnat008 commented on #221
@im4g1n4t1onsX Yeah.

[2017-05-18 23:09] MrWardy commented on #202
@Gnat008 nvm I'm just dumb, I added a negative permission wrong.

@im4g1n4t1onsX no, my PerWorldInventory's config is fine, I just added the negative permission wrong, fixed it and bam, works again. Thanks all for the support

[2017-05-19 00:19] Gnat008 commented on #202
@MrWardy So this is no longer an issue?

[2017-05-19 00:20] MrWardy commented on #202
Nope, thanks

[2017-05-19 00:21] #202 closed

[2017-05-19 01:43] JdeFalconr commented on #221
So interestingly enough that seemed to partially work. I noted that two different worlds for the first time exhibited different inventories. These two are the "current" game world (i.e. the one active on the server prior to setting up Multiverse and loading all of my "old" game worlds) plus one that I created after setting up Multiverse. Unfortunately all of the old game worlds' inventories remain

[2017-05-19 02:24] Gnat008 commented on #221
World creation time doesn't matter, PWI operates completely independent from all of that. Let me look at those logs.

[2017-05-19 02:26] Gnat008 commented on #221
@JdeFalconr That log doesn't have any information. Could you turn on debug mode in the PWI config, reproduce the issue, and upload that log for me?

[2017-05-19 06:40] DaedalusPrime97 commented on #223
Fixed it already

[2017-05-19 15:32] JdeFalconr commented on #221
@Gnat008 Sorry I didn't see this until now. I'll gather that data later this evening when I'm back home and send it your way.

[2017-05-19 15:38] Gnat008 commented on #223
@DaedalusPrime97 This issue is resolved?

[2017-05-20 16:51] JdeFalconr commented on #221
OK here you are. I enabled debug mode, stopped and restarted the server, logged in, went from my current world (where inventory works) to the "hub" world and then from there to two of my older imported worlds. Let me know if you need any other files.

[2017-05-20 16:57] JdeFalconr commented on #221
Something else isn't right here. I re-entered the game, went between a few worlds, and upon going back to our "current" world my inventory is now completely empty.

[2017-05-30 15:20] IIMrRamII opened #225 "Error on teleport"
[15:17:47] [Server thread/ERROR]: **** THIS IS NOT AN ISSUE TO DO WITH PER WORLD PLUGINS ****
Could not pass event PlayerTeleportEvent to PerWorldInventory v1.10.0
org.bukkit.event.EventException
	at us.Myles.PWP.TransparentListeners.PerWorldPluginLoader$1.execute(PerWorldPluginLoader.java:122) ~[?:?]
	at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62) ~[spigot-1.8.8.jar

[2017-05-31 02:45] Zayyir opened #226 "Error displaying inventory"
After dying and being teleported to spawn (different world), I had my items before I even picked them up, when I did, I had dupes, the Inventory I has was from a few minutes ago. The next death resulted in the "sorry, we couldn't load your inv" message.
Config:

[code]

[2017-06-03 00:42] bbruno5 commented on #200
I have this problem too, reproducible with version 1.10.0 on Spigot 1.11.2

[2017-06-04 09:17] angiechin commented on #218
I have the same error....  Running Spigot 1.11.2 and PWI latest build 1.10.1.  Our server have different worlds i.e normal Survival World, Plot World (Creative) and Skyblock World. We have enabled economy:true since we do not want player to have same money in Survival and Skyblock world.  Each time Player goes from Survival to Creative or to SkyBlock, the error msg show in console.

[08:47:20] [Se

[2017-06-04 14:11] Pigna commented on #200
Same problem. Work around it by not letting players return to bed on death.

[2017-06-16 20:16] FlyingPikachu commented on #209
Still happening in recent builds on 1.12

[15:23:38] [Craft Scheduler Thread - 1748/WARN]: [PerWorldInventory] Could not create parent directories while trying to create 'plugins/PerWorldInventory/data/22ff2583-4dd0-4693-a637-1f0b0ee27d1c/default.json'

[2017-06-19 10:37] Sikatsu opened #227 "[1.12] Toolbar save and restore"
Are you able to add a config option / permission to deny users to use the new toolbar save/restore feature from 1.12?

[2017-06-21 00:15] dwa1275 opened #228 "duplacate bug"
when players dine in a world, spawn in the main world, then go back, player get double the items, this is a bug that multiverse inventories was able to fix, shouldn't be that hard to fix

[2017-06-21 22:12] VolcanoMan3705 opened #229 "Multiple Bugs"
Okay. I'm on version Spigot 1.10.2.  I downloaded this plugin to split world's inventories. I started out with 1.10.0, which seemed to work fine. Except for the fact that every time someone died their items would duplicate when they returned to the world, although it uploaded some information cache at a different date. So, I switched to 1.9.0. That fixed it, but now, I have to deal with players lo

[2017-06-23 12:39] MerakiMc opened #230 "Error while parsing config"
http://paste.thezomg.com/22462/14982214/ <-- Console log of my error.

http://paste.thezomg.com/22463/49822152/ <--- My config file.

Not entirely sure what I did wrong?

[2017-06-23 14:13] ljacqu commented on #230
Bad intentation, your lists aren't indented like in the example given in the comment

[2017-06-26 14:31] kikelkik opened #231 "Fly disabled on creative world join"
When a player joins a world with **creative** mode from a survival world, he is not able to fly though he's got creative mode automatically (but with fly disabled) until he _relogs_ **on** the creative mode world.

The bug disappears since the player logs off and on on the creative world and gets creative mode with fly as it is intended to be.

Whould be glad if you've got time to fix it!

[2017-06-27 14:44] omega015 opened #232 "Cannot build latest version - dependency issue maybe?"
I am trying to build PerWorldInventory so I can look to do some changes however it fails to build:

Is there something obvious I am missing? Or is there an issue with dependencies somewhere?

Thank you.

error:
`[ERROR] COMPILATION ERROR :
[INFO] -------------------------------------------------------------
[ERROR] /C:/Users/123/git/PerWorldInventory/src/main/java/me/gnat008/perworldinventory/PerW

[2017-06-27 18:15] McianPlays opened #233 "Inventory doesn't save/load"
When I put an item in my inventory, disconnect, then rejoin, that item doesn't show up in my hotbar!

I've gone through the config and worlds yml files but nothing seems to be out of the ordinary.

Is there something I'm doing wrong?

Config: https://pastebin.com/4Rme4Xf4

Worlds: https://pastebin.com/ukyGeKPj

Thanks.

[2017-06-28 11:15] omega015 commented on #232
Looks like the issue relates to bstats LATEST. changing this to version 1.0 works

[2017-06-30 12:23] Eddy119 commented on #5
Hi,
My friends and I had a server that used MultiInv for some time, which had two world groups (main creative, old survival). I gave the main creative world to another friend, and then he set it back up with a new separate survival world... but it was set up with PerWorldInventory. Now I want to combine the three world groups back together (creative main, old survival, new survival), but I can't b

[2017-07-03 05:15] SiuanSong opened #235 "Broken after updating to 1.12"
I didn't change anything in the configs and since updating to 1.12, when switching from creative to survival and vice versa, our inventories get overridden and stay exactly the same in either creative and survival.

config.yml
[https://pastebin.com/tZ6C3cTw](url)
worlds.yml
[https://pastebin.com/f0jKTyZA](url)
Error in console:
[https://pastebin.com/eXMxs2Gt](url)

[2017-07-03 06:03] SiuanSong commented on #235
Welp. It was Gringotts apparently! You can close this xD

[2017-07-04 03:17] maxlehot1234 opened #236 "java.io.FileInputStream.open0(Native Method)"
Hi, I have this error in the console.
https://pastebin.com/hr2jBZ3r
Anyway to fix this error?

[2017-07-04 13:13] Aeadnerr opened #237 "Plugin ERROR, don't work and have An in-game error"
READ MY PROBLEM! THIS PLUGIN HAVE A BIG PROBLEM!!!!

If I set up my PerWorldInvertory, in the worlds.yml fille.
Everything is good but if i reload the plugin, give this error in the console:

[09:19:57 ERROR]: [PerWorldInventory] An error occurred copying file '__default.json' to 'skyblock.json': [FileNotFoundException] plugins/PerWorldInventory/data/defaults/__default.json (No such file or direct

[2017-07-04 16:28] #235 closed

[2017-07-04 16:28] #232 closed

[2017-07-09 04:14] CMCosMic opened #238 "Console Error"
I'm getting the error in the console...

`[00:10:45] [Server thread/ERROR]: Error occurred while disabling PerWorldInventory v1.10.0 (Is it up to date?)`

Is this something wrong or is everyone else getting this?

[2017-07-10 17:41] Rocologo commented on #218
I agree except it my money disappears from my creative mode account. But only occasionally.

[2017-07-10 19:38] angiechin commented on #231
I have the same issue too when some players join creative world supposedly have creative and fly. They are unable to fly but on creative mode. However, this happens intermittently, not all the time and affects some players.....strange.

[2017-07-12 16:30] KingOfParsnips opened #239 "Inventory not saving after set time"
I've had this issue for a few days, however, I have just tested it. This is occurring on a world using the gamerule keepInventory true. I have noticed that the inventory does not save after any time set in the config. This is a large issue as it means that me and my brother, playing on the server repeatedly lose items.

I hope you can help fix this issue.

Thanks, Adam

Config: https://pastebin.co

[2017-07-16 17:48] KensonPlays opened #240 "No Such File Or Directory (Help)"
Keep getting these errors in my console and it's messing with inventories. Spigot 1.12:

WARN java.io.FileNotFoundException: plugins/PerWorldInventory/data/defaults/__default.json (No such file or directory)

ERROR An error occurred copying file '__default.json' to 'private.json': [FileNotFoundException] plugins/PerWorldInventory/data/defaults/__default.json (No such file or directory)

WARN Could

[2017-07-17 07:57] KensonPlays commented on #240
Anyone??

This is the last error we have to figure out in our console before formally launching.

[2017-07-17 11:52] Rocologo commented on #209
I get this error too (Minecraft 1.12 + PWI 1.10)

17.07 13:42:30 [Server] WARN [PerWorldInventory] Could not create parent directories while trying to create 'plugins/PerWorldInventory/data/7bcaaaa6-bee5-40d2-b218-db7a0ea937da/last-logout.json'

[2017-07-17 16:36] SlimeDog opened #241 "WDLCompanion incompatibility"
Spigot 1.12
PWI 1.10.0
WDLCompanion 1.1.3

With WDLC set to deny copying (PWI configuration available if needed), lost inventory in the world into which I connected.

WDLCompanion/config.yml (comments elided):
[code]

[2017-07-17 18:21] KensonPlays commented on #240
It's been over 1 day, nobody's responded on the forums, or here on GitHub. Is the developer even alive?

[2017-07-18 23:46] #208 closed

[2017-07-20 00:33] maxlehot1234 opened #242 "ANY ETA for the next update that will fix all issues we have?"
Hi, I just want to know if you have an ETA for the next update that will fix all issues we have?

[2017-07-28 14:38] ggblbl opened #243 "PerWorldArmourBars"
The armour _items_ but not the armour _bars_ carry on to other world, which can make a very unfair advantage in some cases, like mine where I have full diamond armour in my survival world, but when I play skywars I still have the effect of the full diamond armour.

[2017-07-28 19:15] PetrichorCraft opened #244 "Inventory Reverts To Past Save/Inventories Double Or Loss When Switching Worlds/Gamemodes"
I'm having several issues with this plugin. (No errors in the console). I am using the default config files.

Here are my issues:
- (Always) When I restart my server, players' inventories get reverted to past inventories (from previous days).
- (Sometimes) When you switch worlds, then switch back to the original, your inventory  doubles.
- (Sometimes) When you switch worlds, then switch back to th

[2017-07-29 22:56] maxlehot1234 commented on #240
Same error here sometimes since few months. Dev NEVER update his plugin, so we need to deal with this error..........................

[2017-07-29 22:57] maxlehot1234 commented on #236
No news ??? Any update ?? Any answer?? Any support for your plugin??

[2017-08-03 16:43] LightningSFM opened #245 "Inventories disappearing after changing worlds"
Hey, first of all, this plugin does exactly what I want it to. However, I had a version of this on my server before, and when people went from one world to another, they would lose their inventory, but when they went back to the world they were in, everything in their inventory would come back, per each world, as the plugin name suggests. However, there was a conflict at one point, and my gamemode

[2017-08-03 16:52] LightningSFM commented on #245
oh, and here's the console error code i keep getting. not sure if this is whenever someone leaves one world to join another or what, because it also says it when the server is reloaded. ERROR Could not pass event PlayerChangedWorldEvent to PerWorldInventory v1.10.0

[2017-08-09 10:08] lordsherman opened #246 "Plugin not working and spitting out errors"
Not sure what I am doing wrong I setup the worlds config properly with my normal worlds under default and then a minigames world under a minigame tag, when I reload this is the warnings the console spits out:

09.08 04:01:32 [Server] WARN at java.lang.Thread.run(Thread.java:745)
09.08 04:01:32 [Server] WARN at net.minecraft.server.v1_11_R1.MinecraftServer.run(MinecraftServer.java:576)
09.08 04:01:

[2017-08-09 19:57] TheZenKitteh commented on #242
Based on how little communication there is from the devs, I'm thinking this project is dead, sadly.

[2017-08-11 01:26] maxlehot1234 commented on #246
Same for me, but do not expect an update. Devs simply leave this plugin and will NEVER update it :(

Too many errors/bugs, etc and no answer, no fix, etc :(

[2017-08-12 07:28] ljacqu commented on #236
Are you still getting it? Would help if you provided some of the text above and below from the log, what actions (if any) cause this and what server software you're running on.

[2017-08-13 09:04] ljacqu commented on #237
Can you reformat your post so it makes sense? Put blocks of YAML inside <code>```</code>.

https://guides.github.com/features/mastering-markdown/

[2017-08-13 09:05] ljacqu commented on #240
I think this is a duplicate of #204 as I'm not able to reproduce it with the codebase in its newest version.

Could you try using the perworldinventory-1.10.1.jar from https://github.com/ljacqu/PerWorldInventory/tree/latest-jar ?

[2017-08-13 09:05] ljacqu commented on #246
Duplicate of #240

[2017-08-13 09:06] ljacqu commented on #238
What's the rest of the log? I expect there were more errors; this literally just says "something went wrong" so there's not much we can do starting from this.

[2017-08-13 09:40] ljacqu commented on #245
Hi @LightningSFM , for the second error (Could not pass event) could you please create a new issue including the full server log with the error?

As for the first issue, I tested with the latest code (the JAR is available at <https://github.com/ljacqu/PerWorldInventory/tree/latest-jar>) and inventories seem to work just fine when teleporting across a few works. Maybe could you post your worlds.yml

[2017-08-15 12:38] Bl4ckSpr4y opened #247 "Survival inventory from another world going to Creative world"
Hi. I have a server with the latest PWI (perworldinventory-1.10.1.jar). And I'm having issues with it. So i have a creative and a survival world. And when i go from the survival world to the creative one the creative inventory in the creative world gets replaced by the survival inventory from the survival world. And when i go back to the survival world from the creative world and add some stuff fr

[2017-08-19 07:30] maxlehot1234 commented on #242
Agree with you.... They close tickets and no updates.. Everyone have errors and they should fix these things, not add more thing into the plugin...

[2017-08-19 07:37] #242 closed

[2017-08-19 09:11] ljacqu commented on #242
So in your opinion what was added recently that was misdirected?

[2017-08-19 09:13] ljacqu commented on #242
Btw your issue #236 doesn't have much info, and you've never answered my question. As a user you also need to do your part by providing enough info and "owning" your tickets.

[2017-08-21 21:40] ScuroK commented on #226
@Gnat008 can you update pwi plssss? <3

[2017-08-23 02:45] JdeFalconr opened #249 "Inventories disappear when switching worlds, don't come back"
Running Spigot 1.12.1, PWI 1.10.1 (latest I could find on the site). Config file, Worlds file and latest server log from reproducing the problem is also attached.
[Logs.zip](https://github.com/Gnat008/PerWorldInventory/files/1243945/Logs.zip)

Pretty much as the title describes. For myself and all our players inventories clear out when moving between worlds and do not come back. For some of my pla

[2017-08-27 18:49] JdeFalconr commented on #249
More information: Looks like there are now errors showing in the logs. I've attached the latest. Some examples:

[latest.log.txt](https://github.com/Gnat008/PerWorldInventory/files/1254638/latest.log.txt)

Also lots and lots of these:

[2017-08-27 19:05] luuxter opened #250 "Remember player position"
Hello,

I have been looking for a way to track the location of a player in a certain world. I am working on a server with multiple worlds, 'lobby', 'survival', 'skyblock' and 'parkour' for now. I use MultiVerse and this plugin to save players' inventories per world. Now, I was wondering: can this plugin, like MultiVerse Inventories, save a players' location per world? So, for example, a player log

[2017-08-30 14:46] IvanStajdi opened #251 "Inventory Duplication on Death in Acid Island World - Possible Plugin Conflict"
Hello. I am writing about this issue to you because I've already contacted my server hosting's customer support as well as the Acid Island developer(s) and they don't seem to know what's going on, and I was hoping that perhaps you might be able to shed some light on the matter. While the problem is related to Acid Island, it seems it has to do with worlds and inventory management as well and may b

[2017-09-02 07:42] Oruss7 opened #252 "Cannot make player fly if getAllowFlight() is false"
[code]

[2017-09-02 14:18] GabiKleebi02 opened #253 "Inventory don't load"
Every time I leave the server and connect to it later, I don't get my Inventory for the world in which i am. What I have to do, to get my Inventory back?

[2017-09-09 11:30] stefvanschie opened #255 "Request for InventoryPreLoadEvent"
If possible I'd like to see an InventoryPreLoadEvent which can be cancelled. I know there's already an InventoryLoadCompleteEvent, but I need to cancel the inventory loading in some situations before stuff has happened. Cancelling the events this plugin listens for isn't an option either, cause the events still need to take place. An event like this would really help fix some compatibility issues

[2017-09-09 12:20] ScuroK commented on #220
@Gnat008 pls pls pls? :) <3

[2017-09-09 12:23] ScuroK commented on #251
i have the same issue but its not a AcidIsland-World. I do have AcidIsland installed but the bug also appeared in other worlds. So IDK if AcidIsland is guilty or not. The only way to "fix" it was to set the respawn points per world. That kinda sucks..

[2017-09-09 12:41] ScuroK commented on #228
i have the same issue.

[2017-09-12 21:06] Jocke155 opened #256 "An error occurred copying file '__default.json'"
`[23:04:21 ERROR]: [PerWorldInventory] An error occurred copying file '__default.json' to 'creative.json': [FileNotFoundException] plugins\PerWorldInventory\data\defaults\__default.json (Det gÕr inte att hitta filen)
[23:04:21 WARN]: java.io.FileNotFoundException: plugins\PerWorldInventory\data\defaults\__default.json (Det gÕr inte att hitta filen)
[23:04:21 WARN]:        at java.io.FileInputStrea

[2017-09-16 05:06] Gnat008 commented on #255
I like this idea, I'll see what I can do. Or if you do something before I do, that can work too. xD

[2017-09-16 17:54] #252 closed

[2017-09-16 17:55] Gnat008 commented on #252
Fixed by 78e8050

[2017-09-16 18:42] #255 closed

[2017-09-16 19:53] Gnat008 commented on #231
Fixed by 1a4d2b0

[2017-09-16 20:16] Gnat008 commented on #251
Duplicate of #200. Closing duplicates to clean things up a bit; see that issue for further comments/discussion. Thanks!

[2017-09-16 20:16] #251 closed

[2017-09-16 20:17] Gnat008 commented on #228
Duplicate of #200. Closing duplicates to clean things up a bit; see that issue for further comments/discussion. Thanks!

[2017-09-16 20:17] #228 closed

[2017-09-16 20:17] Gnat008 commented on #220
Duplicate of #200. Closing duplicates to clean things up a bit; see that issue for further comments/discussion. Thanks!

[2017-09-16 20:17] #220 closed

[2017-09-16 20:39] Gnat008 commented on #200
@ScourK Would you (or anyone else here) be able to test this .jar file? I'm betting that my additions so far are too simple, but it's worth a try.

https://drive.google.com/open?id=0B7hS84xeTkpsSzRUS1FkekFGbms

[2017-09-18 00:45] Gnat008 commented on #200
Based on my testing, I think that should work, but I'd feel better if someone else confirmed that.

[2017-09-18 18:16] ScuroK commented on #200
@Gnat008 i will test it now.

[2017-09-18 18:34] ScuroK commented on #200
@Gnat008 with the old one i just foudn that it even dropped some other items which i didnt hav in my inv.
ok now i test your new file.

[2017-09-18 18:37] ScuroK commented on #200
@Gnat008
i tested your jar fie and found serious bug:
1. I died in WORLD 1
2. I respawned in WORLD 2
3. I do /back
4. I immediately die when i enter world 2. i cant enter the world anymore withoud dieing

[2017-09-18 18:38] ScuroK commented on #200
do you want to come on my server and see it?

[2017-09-18 18:43] Gnat008 commented on #200
er.. right... that would make sense... stand by.

[2017-09-18 18:44] ScuroK commented on #200
sure.

[2017-09-18 18:45] ScuroK commented on #200
shit!! i downgradet again but it still kills me immediately on join....

[2017-09-18 18:50] Gnat008 commented on #200
Okay, with this file, one of two things will happen: You'll die once and be fine afterwards, or you'll die once, and then never die again.
https://drive.google.com/open?id=0B7hS84xeTkpsSzRUS1FkekFGbms

[2017-09-18 18:54] ScuroK commented on #200
let my try to fix it in vanilla with a cmdblock first -.-

[2017-09-18 18:58] ScuroK commented on #200
ok now i try your fix. i hope it will work :S

[2017-09-18 19:03] ScuroK commented on #200
@Gnat008
DUDE!!
Second thing happened!! i died once but now i cant die anymore!!
wtf what should i do now??

[2017-09-18 19:09] ScuroK commented on #200
@Gnat008 Hello?? How can i fix it? now i cant die anymore! :O

[2017-09-18 21:27] Gnat008 commented on #200
Ah. I did warn you that might happen. Will look into as soon as I can,
which will be later this evening.

Sent with AquaMail for Android
http://www.aqua-mail.com

On September 18, 2017 3:11:35 PM ScuroK <notifications@github.com> wrote:

[2017-09-18 21:51] Gnat008 commented on #200
Ah. Think I found why it would have been inconsistent before.

https://drive.google.com/open?id=0B7hS84xeTkpsSzRUS1FkekFGbms

[2017-09-19 05:19] ScuroK commented on #200
I just downgradet to official version. Now i can die again.
I will test your latest file tonight (its morning here) and see if it fixes the dupe bug :)

[2017-09-19 17:55] ScuroK commented on #200
@Gnat008
Bugs stil here. And killspawn after trying your latest file again... :(

And now my players even found they can dupe items if they die from fall damage...

[2017-09-19 18:10] Gnat008 commented on #200
Found some bad logic. Not sure how I ever actually expected that to work way back when I wrote it...
https://drive.google.com/open?id=0B7hS84xeTkpsSzRUS1FkekFGbms

[2017-09-19 18:12] ScuroK commented on #200
you really want me to test again? -.-

[2017-09-19 18:12] ScuroK commented on #200
ok ..

[2017-09-19 18:22] Gnat008 commented on #200
That's plugin development for ya. Lots and lots of testing. I don't have the necessary configuration to reproduce the issue, and even if I did, it would be better to have it confirmed by someone who isn't me.

[2017-09-19 18:24] ScuroK commented on #200
@Gnat008
just finished testing:
killed myself with fall damage.
still killspam after /back

now i restart server without pwi so that i can see if items duped aswell.

[2017-09-19 18:25] Gnat008 commented on #200
Did you only die once? Above I did say that you would have to do it more than once to fix the old data.

[2017-09-19 18:25] ScuroK commented on #200
oh let me see. give me 4 min

[2017-09-19 18:29] ScuroK commented on #200
I tested again. Every tinme i enter the world where i died i immediately get killed and the death message: "fell from a high place" appears.

[2017-09-19 18:33] ScuroK commented on #200
did you maybe send me the same file for testing again and again by mistake? because i see no change

[2017-09-19 18:34] Gnat008 commented on #200
Not unless Google Drive isn't updating the file correctly.

[2017-09-19 18:35] Gnat008 commented on #200
Deleted it on Drive, and did a fresh upload: https://drive.google.com/open?id=0B7hS84xeTkpsZnhsVWUzYjZRYXc

[2017-09-19 18:38] ScuroK commented on #200
Ok i will test it.
but listen:
i just restarted the server on 1.10.0 and did /suicide to see if its only on fall damage. i only had 1 wool but it gave me 17! means: it gave me the number of items i had in my last test! somehow it remembered an old value! thats why people also told me they got the items from their LAST DEATH again! can you understand what i mean? my english is not so good

[2017-09-19 18:42] ScuroK commented on #200
im testing latest file now.

[2017-09-19 18:45] ScuroK commented on #200
@Gnat008
Tested latest file:
Kill bug still here
Dupe bug still here

[2017-09-19 19:08] ScuroK commented on #200
what will you try next?

[2017-09-21 17:29] Jocke155 commented on #256
Solved by renaming the existing:
plugins\PerWorldInventory\data\defaults\default.json
to:
__default.json

Still doesn't separate the world inventories however.

[2017-09-23 14:51] ScuroK commented on #200
any news here??

[2017-09-23 15:13] Gnat008 commented on #200
Sorry, got sick this week and still getting over it.

[2017-09-23 15:20] ScuroK commented on #200
oh get well soon!

[2017-09-24 22:54] BBoyJD10 commented on #213
Please fix... i have same issue with fall damage

[2017-09-24 22:56] BBoyJD10 commented on #200
Also happens with fall damage

[2017-09-24 22:57] Gnat008 commented on #213
Oops, missed this duplicate report. Please see #200 for discussion and updates. :)

[2017-09-24 22:57] #213 closed

[2017-09-24 22:59] BBoyJD10 commented on #200
So when we get patch ?

[2017-09-24 23:01] Gnat008 commented on #200
Hopefully soon. The weather and this cold is still kicking my ass, but I'll try to come up with something.

[2017-09-24 23:02] BBoyJD10 commented on #200
Please can we have one asap.... this is ruining my network. I converted from MVI for support and this has just been appalling.

[2017-09-25 00:35] Gnat008 commented on #200
@ScuroK I cannot reproduce the constant death problem using the same jar.

Made other progress though: Inventory items are correctly cleared on death. But for some reason, exp/levels aren't; I still had the exp I gave myself... Not sure why yet.

[2017-09-25 02:27] Gnat008 commented on #200
For anyone interested: https://drive.google.com/open?id=0B7hS84xeTkpsZnhsVWUzYjZRYXc

[2017-09-26 10:26] mibby opened #260 "Java 9 support."
Java 9
PerWorldInventory v1.10.0
Paper dev 1220 (Spigot 1.12.2)

[code]

[2017-09-26 14:36] Gnat008 commented on #260
Pinging @ljacqu because this also affects dependency injection.

[2017-09-26 16:06] ljacqu commented on #260
Thank you for the ping! Relates to https://github.com/ljacqu/DependencyInjector/issues/52, which I forgot about

[2017-09-27 12:04] mibby opened #262 "Could not pass event PlayerTeleportEvent/PlayerQuitEvent to PerWorldInventory"
PWI v1.10.0
[code]
[code]

[2017-09-27 13:03] mibby commented on #262
[code]

[2017-09-27 15:08] Gnat008 commented on #200
Based on my testing and a comment on Spigot, I'm going to mark this fixed by cf94e4d. If there are any future issues regarding death, please open a new issue.

[2017-09-27 15:08] #200 closed

[2017-09-27 15:28] Gnat008 commented on #205
I'm no longer seeing this behavior with the latest code, so closing this. If it turns out I'm wrong, will re-open.

[2017-09-27 15:28] #205 closed

[2017-09-27 17:51] Gnat008 commented on #262
Do you have the economy functions enabled?

[2017-09-27 17:54] Gnat008 commented on #256
Fixed in v1.11 version.

[2017-09-27 17:54] #256 closed

[2017-09-27 17:55] Gnat008 commented on #246
Fixed in v1.11.

[2017-09-27 17:55] #246 closed

[2017-09-27 17:55] Gnat008 commented on #240
Fixed in v1.11.

[2017-09-27 17:55] #240 closed

[2017-09-27 17:56] Gnat008 commented on #237
Fixed in v1.11.

[2017-09-27 17:56] #237 closed

[2017-09-27 17:57] Gnat008 commented on #230
No more activity here, closing.

[2017-09-27 17:57] #230 closed

[2017-09-27 17:57] Gnat008 commented on #229
Fixed in v1.11.

[2017-09-27 17:57] #229 closed

[2017-09-27 17:57] #224 closed

[2017-09-27 17:58] Gnat008 commented on #226
Fixed in v1.11.

[2017-09-27 17:58] #226 closed

[2017-09-27 18:00] #211 closed

[2017-09-27 18:01] Gnat008 commented on #206
Fixed in v1.11.

[2017-09-27 18:01] #206 closed

[2017-09-27 18:02] Gnat008 commented on #192
Fixed in v1.11.

[2017-09-27 18:02] #192 closed

[2017-09-27 18:02] Gnat008 commented on #191
Fixed in v1.11.

[2017-09-27 18:02] #191 closed

[2017-09-27 18:03] #181 closed

[2017-09-27 18:03] #168 closed

[2017-09-27 18:05] #134 closed

[2017-09-27 18:06] #124 closed

[2017-09-27 18:06] #115 closed

[2017-09-27 18:06] #112 closed

[2017-09-27 18:07] #90 closed

[2017-09-27 18:08] #79 closed

[2017-09-27 18:08] #44 closed

[2017-09-27 18:08] #43 closed

[2017-09-27 18:13] #238 closed

[2017-09-27 19:39] Tiippex opened #263 "Error on InventoryLoadEvent"
![ErrorPanel](http://tiippex.de/pics/i//q2jdd.png)

[2017-09-27 21:17] Gnat008 commented on #263
@Tiippex Does this version fix it? https://drive.google.com/open?id=0B7hS84xeTkpsU0pVbjVjS3VySTA

[2017-09-27 21:21] Gnat008 commented on #250
Duplicate of #108

[2017-09-27 21:21] #250 closed

[2017-09-27 21:23] #193 closed

[2017-09-27 21:24] #185 closed

[2017-09-27 21:25] #182 closed

[2017-09-27 21:26] #154 closed

[2017-09-27 21:26] #148 closed

[2017-09-27 21:27] #102 closed

[2017-09-27 21:28] #92 closed

[2017-09-27 21:28] #87 closed

[2017-09-27 21:39] ChristyGrnKnght opened #264 "creative - survival inventory glitching."
So my problem is that on a survival map, if people go into creative (often by entering certain "creative bubbles" where command-region runs the command when they enter the world-guard region), and then they log out, when they come back on they end up with their creative inventory overwriting their survival one. Here's what the console says when I logged on, changed into gamemode, then logged off.

[2017-09-27 23:20] mibby commented on #262
I do not, no.

[code]

[2017-09-27 23:25] Gnat008 commented on #262
I'd guess that this is caused by not having an Economy plugin available. But there is already a null check there... Unless Vault is installed, and is hooking into it successfully. Hm.

[2017-09-28 00:34] ArtNRG commented on #209
@Gnat008 Yep, i have this issue in PWI v1.11

[2017-09-28 01:59] Gnat008 commented on #209
@ArtNRG Does that folder actually happen to exist?

[2017-09-28 02:52] ArtNRG commented on #209
@Gnat008 Yes, i have checked after receiving the warning that the folder is existing.
Maybe it will be better to create directory on user join or to perform the directory check after a little delay?

[2017-09-28 03:10] Gnat008 commented on #209
It's because Java doesn't return success when making directories if they already exist.

Note to self: Switch to using `Files.createDirectory(file.toPath());` instead.

[2017-09-28 16:23] Gnat008 commented on #209
@ArtNRG Could you try this build: https://github.com/Gnat008/PerWorldInventory/releases/tag/v1.11.1-beta.1

And tell me if the issue is resolved?

[2017-09-28 22:24] Tiippex commented on #263
Looks good at the moment. I can give a correct answer in a few days.

[2017-09-28 23:06] Gnat008 commented on #263
I can confirm that there are no errors and everything works as expected again on my server.

[2017-09-28 23:13] #263 closed

[2017-09-29 01:23] mibby commented on #262
I do have vault installed with Essentials, but I don't use economy functionality in the traditional sense. I recently installed TokenManager and enabled their vault-hook, having all economy rewarding for events and arenas provide token points through vault instead of soft currency.

https://www.spigotmc.org/resources/tokenmanager.8610/
[code]

[2017-09-29 10:59] SiuanSong commented on #264
Experiencing the same

[2017-09-29 19:05] Gnat008 commented on #108
So the way this is currently implemented is after a world change to a world in a different group, PWI will teleport the player to their last location if their last location in the group was in the same world. So it's less of a last location per world, and more of a last location per group. I'm not sure if this distinction is big enough to warrant the added complexity of doing it more per each worl

[2017-09-30 11:22] Alvaroctal commented on #260
Same goes here,

Java 9
PerWorldInventory v1.11.0
Spigot 1.12.1

[13:19:23] [Server thread/INFO]: [PerWorldInventory] Enabling PerWorldInventory v1.11
[13:19:23] [Server thread/ERROR]: Error occurred while enabling PerWorldInventory v1.11 (Is it up to date?)
java.lang.NoClassDefFoundError: javax/annotation/PostConstruct
	at ch.jalu.injector.handlers.postconstruct.PostConstructMethodInvoker.getAndV

[2017-09-30 11:41] ArtNRG commented on #209
@Gnat008 i still have this issue.
`[12:16:59] [Server thread/INFO]: Username lost connection: Timed out
[12:16:59] [Craft Scheduler Thread - 1265/WARN]: [PerWorldInventory] Could not create file 'plugins/PerWorldInventory/data/7ce85407-0113-3d45-adba-a6c03575f0c2/default.json'
[12:16:59] [Craft Scheduler Thread - 1259/WARN]: [PerWorldInventory] Could not create file 'plugins/PerWorldInventory/data

[2017-09-30 17:27] #197 closed

[2017-09-30 17:57] Gnat008 commented on #209
@ArtNRG Interesting... Lets see if this one does it: https://github.com/Gnat008/PerWorldInventory/releases/tag/v1.11.1-beta.2

[2017-10-01 04:08] ArtNRG commented on #209
@Gnat008 https://pastebin.com/CHRVKmDd

[2017-10-01 16:15] Gnat008 commented on #209
Finally a useful message. :D
This should finally do it: https://github.com/Gnat008/PerWorldInventory/releases/tag/v1.11.1-beta.3

[2017-10-03 10:29] ScuroK opened #265 "Problem with DynamicStands - Caused by PWI?"
Hi im using Vehicles from the DynamicStands - Plugin.
Im having problems with the vehicles and the dev is asking me if i have any plugins which opens an inventory on teleport. since i dont have any plugins doing this im wondering if PWI does anything like that.

Here is an error log:
https://pastebin.com/bWS0u89k

[2017-10-03 19:43] KillerOfPie opened #266 "Bypass gamemode"
https://github.com/Gnat008/PerWorldInventory/blob/c7fe80f2f5f05c8dd543680380b69a0cfb745ca9/src/main/java/me/gnat008/perworldinventory/process/GameModeChangeProcess.java#L49

Pretty sure that you used the wrong permission here. Should be BYPASS_ENFORCEGAMEMODE
This creates a decent problem for my staff as we use spectator mode to watch players and changing worlds would pull them out of it.

[2017-10-03 23:17] Gnat008 commented on #266
Mm nope, that permission is correct there. If a player has that permission, their inventory will not change when switching gamemodes. `BYPASS_ENFORCEGAMEMODE` makes it so that a player with that permission will not have their gamemode changed when switching worlds. So if your staff has `BYPASS_ENFORCEGAMEMODE` and their gamemode is changing, it's likely another plugin. Depending on certain setting

[2017-10-03 23:19] KillerOfPie commented on #266
@Gnat008 do you know what in multiverse would do it?

[2017-10-03 23:20] Gnat008 commented on #265
Assuming that by "opens an inventory" he means opens like an inventory GUI (where the displayed items act as buttons), then no, PWI doesn't do anything like that.

[2017-10-03 23:21] Gnat008 commented on #266
Mm I'd have to play around with it; I forget what does it every time. I know it's something stupid. Lemme see if I can find it.

[2017-10-03 23:22] KillerOfPie commented on #266
@Gnat008 Thanks, I'll dig around and see if i can find something

[2017-10-03 23:23] Gnat008 commented on #266
Ah, I might have found it. Try giving them the permission `mv.bypass.gamemode.*`

[2017-10-03 23:26] KillerOfPie commented on #266
@Gnat008 Works, thanks. Hadn't looked through all of mv's perms yet. And sorry for misreading code :p

[2017-10-03 23:28] Gnat008 commented on #266
Not a problem! And I'm not even sure if that perm is listed; I stumbled across it one day trying to figure out a similar issue on the Spigot forums.

[2017-10-03 23:32] KillerOfPie commented on #266
@Gnat008 its at the bottom of access permissions. Another question though, do you know of any way to be more specific about gm changes, like if i don't want it to change staff out of spectator mode but i do want it to change them out between creative and survival?

[2017-10-03 23:34] Gnat008 commented on #266
I would think just giving them the perm `mv.bypass.gamemode.spectator` would do what you want, instead of `.*`. Assuming it does what I think it does, anyway.

[2017-10-03 23:35] KillerOfPie commented on #266
@Gnat008 tried and no it uses world so it wont change their gamemode when entering a certain world

[2017-10-03 23:37] Gnat008 commented on #266
Oh. Well, in that case... I think that might be the best you can do, unless there's something I don't know about.

[2017-10-03 23:37] KillerOfPie commented on #266
@Gnat008 alright, thanks. Guess ill have to figure something out

[2017-10-04 00:07] #266 closed

[2017-10-04 06:09] ArtNRG commented on #209
@Gnat008 seems all is ok now :+1:

[2017-10-04 16:15] #209 closed

[2017-10-04 19:10] ScuroK commented on #265
The issue is not related to pwi but to protocollib. Close

[2017-10-04 19:10] #265 closed

[2017-10-05 23:06] Gnat008 commented on #260
Should be compatible with Java 9 in the next release (currently planned as 1.12).

[2017-10-09 16:36] #48 closed

[2017-10-09 18:30] mibby commented on #262
@Gnat008 Still happening with v1.12-beta.1

[code]

[2017-10-11 19:43] Gnat008 commented on #262
@mibby Could you try this beta version? Let's see if it was just the bank causing the issue. https://github.com/Gnat008/PerWorldInventory/releases/tag/v1.12-beta.2

[2017-10-14 05:56] FireController1847 commented on #108
@Gnat008 It'd be nice to be able to just have it _literally_ remember where the player was in the last world. For example, I'm in a world called "Survival", and I mvtp to a world called "Creative". When I am in my house in Survival and I mvtp back to Creative, I get put at the spawn of the survival world instead of my previous position. Tbh this should just be implemented into Multiverse itself, b

[2017-10-14 14:43] charbeltrad opened #268 "InventoryLoadEvent"
Here's My error when someone joins..

[10:35:35 INFO]: UUID of player BlazingOne is XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX (that's not my UUID I just covered it)

[10:35:35 ERROR]: Could not pass event InventoryLoadEvent to PerWorldInventory v1.11.1
org.bukkit.event.EventException: null
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:306) ~[spigot.jar:git-Spigot-59

[2017-10-14 15:19] Gnat008 commented on #268
What potion effects did you have active?

[2017-10-14 17:08] BlazingOne commented on #268
None..

[2017-10-16 02:02] mibby commented on #262
@Gnat008 I have not seen the error again since updating so I assume that was it. Thanks!

[2017-10-16 02:57] Gnat008 commented on #262
Fixed by 6c77f85

[2017-10-16 02:57] #262 closed

[2017-10-20 13:15] HappyKilling opened #269 "Could not pass event PlayerDeathEvent to PerWorldInventory v1.11.1"
[15:12:24] [Server thread/INFO]: [0;30;1m» [0;36;22mlesangh [0;37;22ma été tué par [0;31;1mFawokQ_Q[m
[15:12:24] [Server thread/INFO]: [0;36;1mFawokQ_Q fait un killstreak de 35 kills![m
[15:12:24] [Server thread/ERROR]: Could not pass event PlayerDeathEvent to PerWorldInventory v1.11.1
org.bukkit.event.EventException
	at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.jav

[2017-10-20 18:09] Gnat008 commented on #269
What version of Spigot are you running?

[2017-10-20 18:55] HappyKilling commented on #269
Spigot 1.8

[2017-10-20 19:35] Gnat008 commented on #269
1.8, or 1.8.something?

[2017-10-20 22:57] HappyKilling commented on #269
1.8.8 R0.1

[2017-10-21 00:07] Gnat008 commented on #269
Well, that narrows down when Bukkit Attributes were added.

[2017-10-21 20:35] HappyKilling commented on #269
you the best :)

[2017-10-23 21:25] dedounet commented on #216
Yes, like something earned in a world that you want to keep as a reward in the others!

[2017-10-23 22:13] Gnat008 commented on #231
Reopening. To fully fix the issue, a change has to be made for setting group defaults.

[2017-10-25 01:01] Music4lity commented on #269
Nothing is working on the PaperSpigot 1.8.8 Snapshot. Player inventories are also being deleted, along with their enderchest contents.

[2017-10-25 18:24] Gnat008 commented on #269
Could you guys try this pre-release version and see if it's fixed? https://github.com/Gnat008/PerWorldInventory/releases/tag/v1.11.2-beta.1

[2017-10-26 10:28] The947thTokay opened #270 "Plugin won't enable"
On my server, the plugin throws an error on startup. It doesn't do anything afterwards.
I get this error at both this version and 1.10.0.
Error:
[code]

[2017-10-26 12:22] NoopyyGaming opened #271 "Could not pass event PlayerTeleportEvent to PerWorldInventory v1.11.1"
[14:13:00] [Server thread/ERROR]: Could not pass event PlayerTeleportEvent to PerWorldInventory v1.11.1
org.bukkit.event.EventException
	at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:310) ~[Spigot.jar:git-Spigot-db6de12-18fbb24]
	at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62) ~[Spigot.jar:git-Spigot-db6de12-18fbb24]
	at org.bukkit.plugin.

[2017-10-26 16:53] Gnat008 commented on #270
That's due to Java 9 not having an annotation anymore; will be fixed in an upcoming update. See #260.

[2017-10-26 16:53] #270 closed

[2017-10-26 16:54] Gnat008 commented on #271
Duplicate of #269. Please see the conversation there, and try to linked jar file in my last comment.

[2017-10-26 16:54] #271 closed

[2017-10-26 17:04] NoopyyGaming commented on #271
I've already tried it, that's why i got this error that i gave to you.

[2017-10-26 17:11] NoopyyGaming commented on #269
It the same, it's not working for me with the v1.11.2

[2017-10-26 22:36] Gnat008 commented on #269
@NoopyyGaming Are you using CraftBukkit or Spigot?

[2017-10-27 07:06] NoopyyGaming commented on #269
Spigot

[2017-10-27 19:42] KizunaLuna opened #272 "survival items move to gmc inventory upon dying"
As the title says, when players who are op'ed die in the survival world, their items switch from the /gms inventory to the /gmc inventory.  I'm not really sure what about being op'ed makes it work this way. I turned on keepinventory as a temporary fix but I'd like some help. :) I'm not sure what other information to include since i'm new here but I can reply with whatever you need.

[2017-11-03 15:14] The947thTokay commented on #260
[code]

[2017-11-03 17:37] ElementalShadow commented on #249
Same happened to me

[2017-11-04 12:43] mibby commented on #260
Can also confirm. 1.12-beta.2 errors on Java 9.0.1.

[code]

[2017-11-04 18:19] kenairock opened #273 "Please back that features"
If players stats: level or xp is set to false, plugin will never set player xp or level to null/zero but stay as is (player data.DAT). ive using 1.9.0 and it so very useful for me. i have separate inventories but xp/level is same on all worlds.

[2017-11-04 19:18] Gnat008 commented on #260
@ljacqu Any ideas? Maybe I have to shade something else into PWI...

[2017-11-10 14:29] blablubbabc opened #274 "Incompatibility with other plugins due to 1-tick delay on gamemode changes"
Assume some minigame plugin does the following in this order when players enter/leave the minigame:

Player entering the minigame:
- Save location.
- Teleport player to minigame lobby (potentially in different world).
- Save gamemode.
- Set gamemode to survival.
- Save potion effects, inventory, and any other player attributes.
- Clear player inventory and reset attributes.

Player leaving the min

[2017-11-15 18:26] peterjenp opened #275 "error per world inventory"
Hey
on one server I get to see the next error when I load the plugin.
what am I doing wrong because the plugin does not seem to work well either
[code]
[19:12:10] [Server thread/INFO]: [PerWorldInventory] Enabling PerWorldInventory v1.11.1
[19:12:10] [Server thread/WARN]: Enabled plugin with unregistered PluginClassLoader PerWorldInventory v1.11.1
[19:12:10] [Server thread/INFO]: [PerWorldInventor

[2017-11-21 15:48] CultivateMC commented on #214
@Gnat008 seems to be fixed in 1.11.1. Not sure if anything changed for this but the issue can be closed.

[2017-11-21 15:50] #214 closed

[2017-11-23 01:05] PinoyLifeCraft opened #276 "Player Inventories Gone!"
Hello there Owner,

I have a test account for my server then sometimes this problem happened, when I join to my server my items,money, etc gone!

This is what I receive on the console

I am using

In my opinion it is because of the plugin called _HubThat_ because everytime a player join to my server they will not spawn at their last location instead they will spawn at the world hub to make it like

[2017-11-24 18:51] The947thTokay commented on #260
@Gnat008 just curious, is there any progress being made?

[2017-11-27 19:40] ACHI-13 opened #277 "Update suggestion!"
Hello!

I couldn't find any other place to suggest this, so i typed it here! [rip]

So, my suggestion is:
There could be like a setting in config.yml that would make it availale to have 2,3,5 etc. worlds with the same inventory! I believe that would be really helpful and would make the plugin much more efficient!

**Thanks** & **Sorry** for posting that in the wrong place!

[2017-11-27 20:58] Gnat008 commented on #277
This already exists. Please check out the `worlds.yml` file in the PerWorldInventory directory. :)

[2017-11-27 20:59] Gnat008 commented on #275
Are you using PerWorldPlugins?

[2017-11-27 21:16] peterjenp commented on #275
yes I use PerWorldPlugins.
This is because certain plugins may not be available on one server in all worlds.
however, perworld inventory has been indicated to be available in all the world.

________________________________
Van: Gnat008 <notifications@github.com>
Verzonden: Monday, November 27, 2017 9:59:32 PM
Aan: Gnat008/PerWorldInventory
CC: peterjenp; Author
Onderwerp: Re: [Gnat008/PerWorldInv

[2017-11-28 16:41] ACHI-13 commented on #277
Wow, now I feel really dump! xD

Thanks!

[2017-11-28 16:45] Gnat008 commented on #277
lol No worries. Are you all set now?

[2017-11-28 16:54] ACHI-13 commented on #277
Nope! The plugin doesn't work for me!
![image](https://user-images.githubusercontent.com/25084277/33332647-7a23b2de-d46d-11e7-89f9-ddad0614997c.png)
![image](https://user-images.githubusercontent.com/25084277/33332654-7d4dad52-d46d-11e7-9ecf-ef45f2a28d64.png)

[2017-11-28 16:55] Gnat008 commented on #277
Are you running Spigot? If so, which version?

[2017-11-28 16:56] ACHI-13 commented on #277
Yes. I run spigot:
![image](https://user-images.githubusercontent.com/25084277/33332773-d5a83bca-d46d-11e7-8091-7048b912ac91.png)

[2017-11-28 16:59] Gnat008 commented on #277
Can you try this pre-release version, and tell me if the error still happens? https://github.com/Gnat008/PerWorldInventory/releases/download/v1.11.2-beta.1/perworldinventory-1.11.2.jar

[2017-11-28 17:12] ACHI-13 commented on #277
I think it now works but there are again some errors:
![image](https://user-images.githubusercontent.com/25084277/33333610-f6252f46-d46f-11e7-95ed-73c9f5e5835d.png)
I think there is a permission for keeping inventory, am i right? If so could you update so we could disable that permission?

[2017-11-29 19:32] Geant200 commented on #260
Hello, I'm having the same problem.

Version.
Spigot 1.12
EpicWorldGenerator v8 PRE-RELEASE-2

`[19:17:18] [Server thread/INFO]: [PerWorldInventory] Enabling PerWorldInventory v1.11.1
[19:17:18] [Server thread/ERROR]: Error occurred while enabling PerWorldInventory v1.11.1 (Is it up to date?)
java.lang.NoClassDefFoundError: javax/annotation/PostConstruct
	at ch.jalu.injector.handlers.postconstruct

[2017-11-29 21:33] ljacqu commented on #260
Woop, this should not be happening with the new dependency...

[2017-11-29 22:31] Geant200 commented on #260
I did the test again.
I deleted the plugin completely and redo the installation.
Always the same.

[2017-11-30 04:37] FatmanC commented on #249
nice to see issues are getting commented on :/ Im getting same issues too1.12

[2017-11-30 07:13] FatmanC opened #278 "A number of issues"
[18:07:40 ERROR]: Could not pass event PlayerQuitEvent to PerWorldInventory v1.11.1
30/11/2017 6:07 PM: [MC]: org.bukkit.event.EventException: null
30/11/2017 6:07 PM: [MC]:     at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:306) ~[spigot.jar:git-Spigot-b78586d-03f1e37]
30/11/2017 6:07 PM: [MC]:     at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.ja

[2017-11-30 20:22] The947thTokay commented on #260
@ljacqu is the dependency updated already then (in PWI)? Doesn’t look like anything changed...

[2017-12-01 18:58] EndermanLetsPlay opened #279 "Inventory doesn't load"
Hi,

please help me out!
I've got the 1.8.8 Spigot and when I join a world it doesn't save the inventory. Everytime it clears it!!

I use the version 1.11.1 on Spigot 1.8.8 latest version.

**Latest Log:**

[latest.log](https://github.com/Gnat008/PerWorldInventory/files/1522618/latest.log)

**PerWorldInventory Folder:**

[WinRAR-ZIP-Archiv (neu).zip](https://github.com/Gnat008/PerWorldInventory/fi

[2017-12-01 19:04] ljacqu commented on #260
![pwi_1 12](https://user-images.githubusercontent.com/8417009/33498735-c35630aa-d6d2-11e7-92fb-fd6519e1e640.png)

[2017-12-02 11:32] The947thTokay commented on #260
I’ll try it soon!

[2017-12-03 10:26] The947thTokay opened #280 "Can't build PWI"
After seeing that #260 should now be fixed, I tried to build PWI, but got this:
[code]
Am I doing something wrong here?

[2017-12-03 12:44] ljacqu commented on #280
Just tried and all test work fine for me. What tests are being reported as failed?

[2017-12-03 13:50] BetaPlays3 opened #281 "Error per world inventory"
if i execute the command "is", after "spawn", after "is" generates an error

 Could not pass event PlayerChangedWorldEvent to PerWorldInventory v1.8.0
org.bukkit.event.EventException
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:305) ~[spigot-1.8-R0.1-SNAPSHOT.jar:git-Spigot-550ebac-7019900]
        at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredLi

[2017-12-03 18:46] The947thTokay commented on #280
Let me check that.

[2017-12-03 19:01] The947thTokay commented on #280
All tests seem to fail.

[2017-12-04 07:34] ljacqu commented on #280
OK, so run one test and post the entire output so maybe we can help

[2017-12-04 14:49] The947thTokay commented on #280
This is it: https://pastebin.com/LhUCpZdh

[2017-12-06 17:21] OinkyOverlord opened #282 "Error"
I got the following error when trying to start PWI:
`[12:08:50 ERROR]: Error occurred while enabling PerWorldInventory v1.11.1 (Is it up to date?)
java.lang.NoClassDefFoundError: javax/annotation/PostConstruct
        at ch.jalu.injector.handlers.postconstruct.PostConstructMethodInvoker.getAndValidatePostConstructMethod(PostConstructMethodInvoker.java:47) ~[?:?]
        at ch.jalu.injector.handler

[2017-12-06 17:38] ljacqu commented on #282
#260

[2017-12-09 10:01] TPGamesNL opened #283 "Convert gives a lot of errors"
When I tried to do /pwi convert multiverse it spammed console with errors
Log: https://pastebin.com/uRm2dBQ1
I couldnt upload the whole thing because it was to big, but I hope this is enough
I'm running Spigot 1.11.2
EDIT: no help needed, I'm not going to use this anymore.

[2017-12-10 14:21] The947thTokay commented on #280
Just tried to build on another device. Same problem. I'm going to try it with jdk 8, maybe I get luck this time...

[2017-12-10 14:24] #280 closed

[2017-12-10 14:43] The947thTokay commented on #260
Now that I've finally built PWI (#280), I thought it would finally work...
No luck. @ljacqu, how did you get that version?

[2017-12-11 23:15] MetalGearDaner opened #284 "Inventory & enderchest wipe between creative and survival worlds, and fly bug."
- **Plugin version**: 1.11.1
- **Spigot version**: git-Paper-1262 (MC: 1.12.2)
- **Relevant plugins**: Multiverse-Core, MV-Portals, EssentialsX, EssentialsXSpawn, MobArena, SuperVanish, WorldGuard.
- **config.yml file**: https://pastebin.com/yVrrYuri
- **worlds.yml file**: https://pastebin.com/058kR6aY

**## ISSUE DESCRIPTION**

I'm here hoping to get some help from the developer, or a fix for thi

[2017-12-11 23:17] Gnat008 commented on #284
I am hoping to have this fixed in the 2.0 rewrite.

[2017-12-11 23:21] MetalGearDaner commented on #284
Excellent new. Is there any ETA for this fix then?

Thanks for responding this fast, nowadays not much developers show this interest :)

[2017-12-11 23:24] Gnat008 commented on #284
None yet. Because it's a full rewrite, it's pretty significant. The Github repo for it can be found [here](https://github.com/Gnat008/perworldinventory-kt). A lot of the base stuff is done and out of the way, but there is a lot left to go.

[2017-12-11 23:45] MetalGearDaner commented on #284
Oh! It's pretty recent the new rewrite project. Interesting you use Kotlin instead of Java, is it fully compatible with Spigot software? At the speed you go coding the new plugin, I hope it gets the first stable version soon.

[2017-12-12 00:06] Gnat008 commented on #284
Kotlin runs on the JVM just like Java and is fully compatible.

[2017-12-15 00:27] lucasvilla97 opened #285 "I'm not what sure is going on but this is what the console shows"
[19:24:33 ERROR]: Could not pass event PlayerGameModeChangeEvent to PerWorldInventory v1.11.1
org.bukkit.event.EventException
        at org.bukkit.plugin.java.JavaPluginLoader$1.execute(JavaPluginLoader.java:310) ~[spigot-1.8.8.jar:git-Spigot-21fe707-e1ebe52]
        at org.bukkit.plugin.RegisteredListener.callEvent(RegisteredListener.java:62) ~[spigot-1.8.8.jar:git-Spigot-21fe707-e1ebe52]

[2017-12-15 19:43] creator3 opened #286 "Cleanup inventories from deleted worlds"
It would be useful if PerWorldInventory had a cleanup command to delete the inventories associated with deleted worlds. Ideally, it would automatically figure out which files were unnecessary based on which worlds are currently loaded. Doing it automatically would be especially good since it removes the possibility of stupid mistakes. It could take into account share settings and whether gamemodes

[2017-12-15 19:57] Gnat008 commented on #286
Added to the new issue tracker for the 2.0 version.

[2017-12-16 08:10] JeNNySS opened #287 "ERROR"
08:52:46 INFO]: [PerWorldInventory] Enabling PerWorldInventory v1.11.1
[08:52:46 ERROR]: Error occurred while enabling PerWorldInventory v1.11.1 (Is it up to date?)
java.lang.NoClassDefFoundError: com/google/gson/JsonObject
   at java.lang.Class.getDeclaredMethods0(Native Method) ~[?:1.8.0_101]
   at java.lang.Class.privateGetDeclaredMethods(Class.java:2701) ~[?:1.8.0_101]
   at java.lang.Class.ge

[2017-12-16 16:23] Gnat008 commented on #287
What version of Spigot are you running?

[2017-12-16 17:03] JeNNySS commented on #287
Spigot 1.8

[2017-12-16 19:12] Gnat008 commented on #287
That would be why. In one of the 1.8.x sub-versions, Spigot moved the Gson package.

[2017-12-16 19:48] JeNNySS commented on #287
Where I can download? Please LINK

[2017-12-17 11:08] JeNNySS commented on #287
HEYYYYY

[2017-12-17 17:34] JeNNySS commented on #287
HEEEY

[2017-12-18 08:39] MrEminent42 commented on #287
Hey, I'm also having this problem. Would it be possible to link to a download for 1.8.8?

[2017-12-21 03:26] MrEminent42 commented on #287
@The947thTokay Sorry I meant PWI. I found a version for 1.8.8 on BukkitDev. @JeNNySS I recommend downgrading to [version 1.5.8](https://dev.bukkit.org/projects/world-inventory/files/892715) if you're using 1.8.8.

[2017-12-21 04:18] itaquito opened #288 "Bug - No aparently trigger"
Hey! I got this error it trigger randomly, it doesnt have a pattern

[PerWorldInventory] Task #47 for PerWorldInventory v1.11.1 generated an exception
java.lang.NullPointerException: null
	at me.gnat008.perworldinventory.data.players.PWIPlayerManager.lambda$scheduleRepeatingTask$3(PWIPlayerManager.java:377) ~[?:?]
	at org.bukkit.craftbukkit.v1_12_R1.scheduler.CraftTask.run(CraftTask.java:71) ~[spi

[2017-12-21 04:20] itaquito commented on #288
it started when I put this into the worlds.yml

  skyblock:
    worlds:
    - ASkyBlock
    - ASkyBlock_nether
    - SkyblockLobby
    default-gamemode: SURVIVAL

Thats for the skyblock gamemode

[2017-12-21 04:26] Gnat008 commented on #288
Can you put your worlds config inside code tags? I need to see the formatting (spaces). I suspect one of them is off.

[2017-12-21 04:26] itaquito commented on #288
in pastebin?

[2017-12-21 04:27] Gnat008 commented on #288
You could do that. That'll work.

[2017-12-21 04:27] itaquito commented on #288
https://pastebin.com/fdLPbx5p

[2017-12-21 04:39] Gnat008 commented on #288
Hm that looks correct... Can you enable debugging in the main config and do `/pwi reload`? It will output the loaded groups to the console/log. I want to see what it loads for groups.

[2017-12-21 04:40] itaquito commented on #288
Sure!

Give me a sec

[2017-12-21 04:41] itaquito commented on #288
[22:40:46] [Server thread/INFO]: _itaquito_ issued server command: /pwi reload
[22:40:46] [Server thread/INFO]: [PerWorldInventory] [DEBUG] Adding group to memory. Group: default Worlds: [world, world_nether, world_the_end] Gamemode: SURVIVAL
[22:40:46] [Server thread/INFO]: [PerWorldInventory] [DEBUG] Adding group to memory. Group: skyblock Worlds: [ASkyBlock, ASkyBlock_nether, SkyblockLobby] Gam

[2017-12-21 04:42] itaquito commented on #288
This is what happens just after the error triggers:

[22:40:11] [Server thread/INFO]: [PerWorldInventory] [DEBUG] Adding group to memory. Group: default Worlds: [world, world_nether, world_the_end] Gamemode: SURVIVAL
[22:40:11] [Server thread/INFO]: [PerWorldInventory] [DEBUG] Adding group to memory. Group: skyblock Worlds: [ASkyBlock, ASkyBlock_nether, SkyblockLobby] Gamemode: SURVIVAL
[22:40:18]

[2017-12-21 04:43] Gnat008 commented on #288
O.o It's using the incorrect key... Why is it doing that...

[2017-12-21 04:46] Gnat008 commented on #288
I suppose that if there were already players cached for that world before the plugin was reloaded, this would happen...

[2017-12-21 04:48] itaquito commented on #288
So, How i can solve it?

[2017-12-21 04:53] Gnat008 commented on #288
Short term, restart the server and it should be fine. Out of curiosity, is this a brand new world, or have your players been using it before you added it to the config?

[2017-12-21 05:07] Gnat008 commented on #288
Copied from the other project issue:
"i just stopped the server and then reopened it and it solved the problem...
Thanks! I love your fast response.... Best dev ever"

Closing this one out, since all new issues will be going to the rewrite.

[2017-12-21 05:07] #288 closed

[2017-12-21 05:11] itaquito commented on #288
I dont knowif its ideal to reply but, not alot of players played on the world maybe 2 or 3.

Also suggestion: Perworldspawnpoints :D

[2017-12-21 05:13] Gnat008 commented on #288
Oh I forgot I had asked that question already. I'm sorry. Not sure how much it matters then, but they'll have lost their inventories for those worlds since they're in a new group.

[2017-12-21 05:28] itaquito commented on #288
Hmm, No they hadnt :thinking:

[2017-12-22 08:46] The947thTokay commented on #287
Oops...

[2017-12-24 02:53] itaquito opened #289 "Inventories Rolling Back"
Hey! I got this issue, When I restart my server (/stop and then re-opening) players got his inventories rolled back. I think this may be a PWI problem, because the changes to the world doesnt roll back.

[2017-12-30 01:59] itaquito commented on #289
Hello? Im very struggling about this problem.

[2018-01-02 21:39] lensz opened #290 "Manually edit data files"
Hello,

I installed PerWorldInventory on a sever with several preexisting worlds in it. For the most part it works great, but some players have problems of a completely empty inventory, enderchest, ....

I have a backup of the plugins folder from right after I installed the plugin. If I view the backed up `plugins/PerWorldInventory/data/186aa6d2-d6da-3467-84a3-97ea08aa9745/world.json` file of a sp

[2018-01-02 21:42] Gnat008 commented on #290
One issue is that your 'biomebundle' group is mis-formatted; it should have `worlds:` not `world:`, though I doubt that's the actual issue. PWI does indeed load from the .json files, and doesn't touch Minecraft's .dat's at all.

[2018-01-03 01:38] ScuroK opened #291 "URGENT! bad exploit"
A player found a bug in the latest version of PWI. (on my 1.12.2 spigot server) He teleported from the creative world to the survival world and pressed "E" in the right moment. He did this many times untill he successfully brought items from creative to the other world.
He did this many times and smuggeled many items over. He told me it doesnt always work. maybe one of 10 times he can do this.

An

[2018-01-03 01:40] ScuroK commented on #284
This might be related to #291
but im not sure.
im on 1.12.2 and also use MV.

[2018-01-03 13:40] Eneris commented on #284
I can confirm this bug...
**Presets:**
- MyHome plugin installed and home created in Survival world
- new nether world created by "/mv create" command
- 2 world-groups: Survival & Creative
- Existing inventory in Survival group
- Autosave of inventory set to 30s
- Unlisted worlds share inventory config options enabled

**Story**

1. Teleport to Creative normal world by "/mv tp"
2. Use nether porta

[2018-01-03 14:08] ScuroK commented on #274
@Gnat008 i suffer from inventory lost whrn players use Paintball. Before we didnt have any problems for years. Could you fix this pls?

[2018-01-03 15:23] MetalGearDaner commented on #284
Unfortunately this plugin is broken and is very dangerous to be used on a server. I hope the developer can release as soon as posible an stable version on where at least, the only feature the plugin is supposed to offer, works appropiately.

Is there any progress made on the 2.0 version?

[2018-01-03 17:04] lensz commented on #290
thanks for the hint! but the problem sadly persists.

Here is an extensive example what I'm doing:

again my [config.yml](https://nopaste.xyz/?e9d98027cb1cf3ae#yLyp69CT207FsIcBPyAPrTLZbtpFOndORqDb00Ibl+4=) and updated [worlds.yml](https://nopaste.xyz/?d9e9eb893e944d5f#F2SUiVmL341YDpDAuqRc7pOkhxwxhxBVNiXlKW/a3GY=)

steps:

1. this is the current [data file of my player for my main world](https://no

[2018-01-03 18:28] lensz commented on #290
By the way: Out of curiosity I checked the current `.dat` file of my player from playerdata of my world.

And the inventory and enderchest state is exactly like the PWI data file version (1) from my previous post.

There has to be something wrong with my configuration.

It seems, that on startup PWI does not read the inventory from the json but rather from the dat. But in the end (after logging ou

[2018-01-03 20:14] ScuroK commented on #291
Ijust did some testing! pressing "e" (inventory open) very very very shortly before teleporting or entering a portal CAN smuggle items from the creative world to another world! PLEASE answe @Gnat008
this is very bad because players already start to know about this trick!

[2018-01-03 20:52] ScuroK commented on #291
Here is the same issue with MultiverseInventories!
https://github.com/Multiverse/Multiverse-Inventories/issues/161

It seems like they fixed it recently!

[2018-01-03 21:02] ScuroK commented on #286
maybe you could add a  /purge <time> command aswell for inactive players?

[2018-01-03 21:26] blablubbabc opened #292 "Potential compatibility issue with minigame plugins"
Consider this situation:
* Some minigame plugin is restoring player inventories and teleports players back to their original location, when the plugin is getting shut down.
* The minigame world and the player's original world are in different groups in PWI.
* PWI is getting disabled before this minigame plugin (loading order is basically arbitrary, if those plugins don't specify any dependencies b

[2018-01-04 00:34] ScuroK commented on #292
i tested it and i can confirm it. huge mess :(

[2018-01-04 04:15] maxlehot1234 opened #293 "[Suggestion/Question] Blacklist items to be transfered between world"
Hi, I just want to know if you can add something that will prevent players to bring OP pickaxe from default world to the free world for example, but share EVERYTHING else.

It could be really nice to be able to blacklist few items

[2018-01-04 09:25] maarcuss opened #294 "PerWorldInventory is not up to date"
I have perworldinventory installed on my server, but whenever i start the server it says:

**[Server thread/INFO]: [PerWorldInventory] Enabling PerWorldInventory v1.11.1
[Server thread/ERROR]: Error occurred while enabling PerWorldInventory v1.11.1 (Is it up to date?)**
java.lang.NoClassDefFoundError: javax/annotation/PostConstruct
at ch.jalu.injector.handlers.postconstruct.PostConstructMethodInvo

[2018-01-04 16:27] ScuroK commented on #291
@Gnat008 can you reply pls? :(

[2018-01-04 16:59] Gnat008 commented on #291
....I said POTENTIALLY fixed, not FIXED, Github.

[2018-01-04 17:01] ScuroK commented on #291
? what do you mean?

[2018-01-04 17:01] Gnat008 commented on #231
Pushing this back to the 2.0 Kotlin rewrite since that will be better able to address this one.

[2018-01-04 17:05] Gnat008 commented on #291
Could you try the version here and tell me if the problem goes away? https://github.com/Gnat008/PerWorldInventory/releases/tag/v1.11.2-beta.2

[2018-01-04 17:05] ScuroK commented on #291
sure yes. i will test it in a moment.

[2018-01-04 17:06] Gnat008 commented on #294
See #260.

[2018-01-04 17:06] #294 closed

[2018-01-04 17:10] Gnat008 commented on #290
On startup PWI only loads the configuration files. Player data files aren't looked at until they are needed. You can think of it this way: The .dat files are your current inventory that the server is tracking. PWI's .json files are your inventories in gamemodes/worlds that you aren't in.

[2018-01-04 17:13] Gnat008 commented on #292
Minigame plugins and inventory separation plugins have always been a giant mess, sadly, for exactly this reason. And as far as I can tell, there is no real solution to the problem, except having your minigames in the same world and players just get sent to a lobby in that same world as well. :/

[2018-01-04 17:15] ScuroK commented on #291
@Gnat008 negative. i was still able to bring items from the creative world to another world.

How about slowing down the invetory-switching after the teleport? i have no idea if this could help.
or is it because the other world is a creative world?

[2018-01-04 17:18] lensz commented on #290
Do you have an idea how I can investigate my issue a bit further? The log says nothing and I am a bit clueless. Thanks for the help

[2018-01-04 17:23] ScuroK commented on #291
or maybe you need to loop the inventory-closing because closing it once doesnt prevent the player from reopening it in the moment of teleportation?

[2018-01-04 17:28] Gnat008 commented on #291
Hm. As far as I can tell, that version does the exact same thing MV-I now does to prevent this problem. I'm not really seeing anything else that's different...

[2018-01-04 17:29] ScuroK commented on #292
i think you are wrong. my plaers WERE in the same world when they joined the minigame but still lost the inventory on server restart. And back in the days we didnt have this problem (using the same plugins but other versions)

[2018-01-04 17:31] ScuroK commented on #291
So i guess MV-I dint really fix it.. I can ensure you the bug still exists in the dev-build you gave me. tested it multiple times and easily brought the items over.
The largest problem is that this bug is starting to be known by players already. its not possible to hide it anymore.

[2018-01-04 17:34] ScuroK commented on #291
how about this:
- add a config option to list the servers teleport commands
- let pwi override/delay them so that pwi has enough time to do its job before teleporting.

portals could still be abused but it would at least be one step in the right direction

[2018-01-04 18:05] ScuroK commented on #291
@Gnat008 Can you please try to fix this somehow? :( i need to get this fixed quickly otherwise we can close our server.
im willing to make a donation if u need a motivation bost!

[2018-01-04 19:53] ScuroK commented on #291
Hey whats up now? i just tested something for you and no you didnt tell me if you will do something or when..

there is no working alternative for inventories. i am depending on pwi! can you at least let me know if you will take action against this bug' because this bug makes pwi useless.

[2018-01-05 11:08] ScuroK commented on #291
@Gnat008

Yesterday i tested xInventories and found the same bug aswell!! That means all major inventory plugins are affected! Its just a matter of time untill this bug becomes popular (youtube etc.).

After lots of testing i came up with this idea. Can you please implement this and let me try if it works?

**1. Create some kind of "dummy inventory"**
**2. If a player changes the world this "dummy

[2018-01-05 11:14] ljacqu commented on #291
1) As a temporary solution if this is only happening with portals, maybe there's a way to prohibit item drops close to portals? (I don't know if WorldGuard has such a flag, for example)

2) As soon as the world change event is fired the player's inventory could be cleared. The player might have an empty inventory for ~1 second as he switches the world.

I've only skimmed through this issue so sorr

[2018-01-05 11:21] ScuroK commented on #291
it has nothing to do with dropping items.
but yesthere should be an empty dummy inventory for ~1sec after world change. unfortunately @Gnat008 didnt reply anymore since yesterday. I hope he dont think he fixed it xD

[2018-01-05 11:22] ScuroK commented on #291
@ljacqu could you try to implement my idea? unfortunately i am not a programmer :(

[2018-01-05 17:40] Gnat008 commented on #291
Hm I do clear the inventory just before changing to the new one. This is a very odd... bug? Glitch? I'm not even sure what it is at this point. lol

[2018-01-05 20:19] Gnat008 commented on #274
This is being address in the rewrite.

[2018-01-05 20:43] ScuroK commented on #291
@Gnat008 i know its hard for developers but: have some trust pls xD
I tested this out in 3 different inv plugins and cheated items in all of them.

i beliefe you can do exactly what i suggested. thats adding one extra dummy inventory before switching to the final one. this would fix the bug. just clearing doesnt.

[2018-01-05 20:47] ScuroK commented on #291
i need a hotfix to keep our server going. i dont care about the root right now. it might be even a minecraft bug who knows.

[2018-01-05 21:41] ScuroK commented on #291
Can you please just try what i wrote????

[2018-01-06 04:59] Etqrnal opened #295 "PerWorldInventory shows up as an Editable Jar File..."
ok so i've really wanted to use this plugin but for some reason the database they add their plugin from does not allow for plugins to be downloaded via a external website and it makes it so when ever i download the plugin.. the .jar  file for perworldinventory shows up as editable ill link up a few screenshots
[http://i.imgur.com/vLhnXis.png](url)

please help me, i think its because the plugin ne

[2018-01-06 09:52] ScuroK commented on #291
Hello?

[2018-01-07 15:32] ScuroK commented on #291
To anyone who is suffering fom this bug. I found a workarround to protect at least the creative worlds untill @Gnat008 is active again:

1. Give players the permission essentials.clear for the creative world only
2. use worldguard to deny: /ehome, /eback, /espawn, /etpa, /ewarp, /etpaccept

3. Add. this to your commands.yml:
  home:
  - essentials:clear
  - essentials:clear
  - ehome $1
  essentia

[2018-01-10 18:35] megastupidmonkey commented on #291
Are you a paying customer or what? If not why do the developers even need to reply at all?
Learn how to code and fix it yourself if you are that desperate.

[2018-01-10 20:05] ScuroK commented on #291
im not. i just asked if he please could reply and let me know if he will take action.

how about you? are you his mother?

[2018-01-10 22:46] ScuroK commented on #291
bergenkiller wrote on mv-inv:

"Just to pitch in too (what a party!), this is almost certainly a server-side bug. I'll look into it tomorrow, set up some packet listeners on SET_CREATIVE_SLOT, and see how it goes. My assumption is that the server is accepting creative mode set slot packets during a very short time-frame the player is joining a new world. This is likely outside the reach of plugins

[2018-01-11 18:34] Gnat008 commented on #291
Couple of notes:
1) Never assume that I'm not watching or trying things out; I most likely am.

2) I am also watching the MV-I issue, and am subscribed to it. :)

[2018-01-11 19:44] ScuroK commented on #291
ok. sorry for stressing you :D

[2018-01-14 19:41] #291 closed

[2018-01-15 10:11] ScuroK commented on #291
@Gnat008 will you implement the patch or let the users know about it on spigot?

[2018-01-15 14:06] MetalGearDaner commented on #284
@Gnat008 is this bug fixed with the latest commit https://github.com/Gnat008/PerWorldInventory/commit/2c21824a6111af5ef8b353497282ea1df966193f?

[2018-01-15 14:12] Dreadonator commented on #284
Turn of manage-gamemodes and retry. If i enable the gme mode manager pwi is full of bugs. Without it i have no problms.

[2018-01-15 15:20] MetalGearDaner commented on #284
Well, @Dreadonator I'm using PWI because I need a plugin to manage gamamode inventories per world... I'm afraid that wouldn't be an option. It seems that there was another report (https://github.com/Gnat008/PerWorldInventory/issues/291) that has been fixed. Although I don't exactly know if the patch applied for the report 291 fixes this one.

[2018-01-16 02:46] mibby commented on #284
@MetalGearDaner The issue is not fixed with commit https://github.com/Gnat008/PerWorldInventory/commit/2c21824a6111af5ef8b353497282ea1df966193f. I seem to be experiencing the same problem.

https://github.com/Gnat008/PerWorldInventory/commit/2c21824a6111af5ef8b353497282ea1df966193f#commitcomment-26876309

[2018-01-17 14:59] #283 closed

[2018-01-23 09:14] Wolffy821 opened #296 "I got an error"
Hi , I use '/pwi setworlddefault' and it doesn't work. I go onto the console and it says this :
`org.bukkit.command.CommandException: Unhandled exception executing command 'pwi' in plugin PerWorldInventory v1.11.2
at org.bukkit.command.PluginCommand.execute(PluginCommand.java:46) ~[spigot-1.8.8-R0.1-SNAPSHOT.jar:git-Spigot-21fe707-e1ebe52]
at org.bukkit.command.SimpleCommandMap.dispatch(SimpleComm

[2018-01-23 14:58] CrabGame opened #297 "EROOR WHEN /pwi and inventorys don't change"
For a while ago ut randomly stoped working. It wont change inventorys. And if you do /pwi it says (Error) please help.

[2018-01-24 20:25] CrabGame commented on #297
When i typr /pwi it says:

[21:25:18 ERROR]: null
org.bukkit.command.CommandException: Unhandled exception executing command 'pwi' in plugin PerWorldInventory v1.11.2
        at org.bukkit.command.PluginCommand.execute(PluginCommand.java:46) ~[spigot.jar:git-Spigot-549c1fa-8c37e2e]
        at us.Myles.PWP.FakeSimpleCommandMap.dispatch(FakeSimpleCommandMap.java:95) ~[?:?]
        at org.bukkit.craf

[2018-01-24 20:26] CrabGame commented on #297
Please Help

[2018-01-25 02:42] Gnat008 commented on #297
Does the command always give that error? What about other commands like `/pwi help` or `/pwi version`?

[2018-01-25 15:01] CrabGame commented on #297
/pwi help gives me

ERROR]: null
org.bukkit.command.CommandException: Unhandled exception executing command 'pwi' in plugin PerWorldInventory v1.11.2
        at org.bukkit.command.PluginCommand.execute(PluginCommand.java:46) ~[spigot.jar:git-Spigot-549c1fa-8c37e2e]
        at us.Myles.PWP.FakeSimpleCommandMap.dispatch(FakeSimpleCommandMap.java:95) ~[?:?]
        at org.bukkit.craftbukkit.v1_12_R1.

[2018-01-25 15:01] CrabGame commented on #297
and

[2018-01-25 15:02] CrabGame commented on #297
/pwi version give me:

ERROR]: null
org.bukkit.command.CommandException: Unhandled exception executing command 'pwi' in plugin PerWorldInventory v1.11.2
        at org.bukkit.command.PluginCommand.execute(PluginCommand.java:46) ~[spigot.jar:git-Spigot-549c1fa-8c37e2e]
        at us.Myles.PWP.FakeSimpleCommandMap.dispatch(FakeSimpleCommandMap.java:95) ~[?:?]
        at org.bukkit.craftbukkit.v1_12_

[2018-01-25 16:06] Gnat008 commented on #297
Are there any errors on server start relating to PWI?

[2018-01-25 16:47] CrabGame commented on #297
i will look

[2018-01-25 16:48] CrabGame commented on #297
1 sec

[2018-01-25 16:50] CrabGame commented on #297
Sir i have a question do i need to eun last update on my spigot server. Because thats no problem if it's so Sir

[2018-01-25 16:54] Gnat008 commented on #297
From those stacktraces above, you're already running the latest version of PWI.

[2018-01-25 16:55] CrabGame commented on #297
yes but i have a 15 sec wait time when i start my server and it says Update your spigot server

[2018-01-25 16:56] CrabGame commented on #297
here:

*** Error, this build is outdated ***
*** Please download a new build as per instructions from https://www.spigotmc.org/ ***
*** Server will start in 15 seconds ***

[2018-01-25 16:56] CrabGame commented on #297
thats maybe why

[2018-01-25 16:58] Gnat008 commented on #297
Doesn't matter for this issue unless you're running some ancient build of 1.8.0.

[2018-01-25 16:59] CrabGame commented on #297
ok well im runing 1.12.2

[2018-01-25 16:59] CrabGame commented on #297
hmmm

[2018-01-25 17:00] CrabGame commented on #297
is it any plugin thats pwi can't work with?

[2018-01-25 18:10] CrabGame commented on #297
i will try to reintall the plugin again

[2018-01-25 18:19] CrabGame commented on #297
na same error

[2018-01-25 18:20] CrabGame commented on #297
so you don't know that error

[2018-01-25 18:21] Gnat008 commented on #297
You never told me if there are any errors on startup. That is the only way for this to be possible.

[2018-01-25 18:26] CrabGame commented on #297
i will check

[2018-01-25 18:31] CrabGame commented on #297
Sir i when i start up it's an error:

ERROR]: Error occurred while enabling PerWorldInventory v1.11.2 (Is it up to date?)
java.lang.NoClassDefFoundError: javax/annotation/PostConstruct
        at ch.jalu.injector.handlers.postconstruct.PostConstructMethodInvoker.getAndValidatePostConstructMethod(PostConstructMethodInvoker.java:47) ~[?:?]
        at ch.jalu.injector.handlers.postconstruct.PostConst

[2018-01-25 18:33] Gnat008 commented on #297
Ah, you're using Java 9. PWI is currently not compatible with that version of Java. See #260
/cc @ljacqu

[2018-01-25 18:39] CrabGame commented on #297
so how do i fix it?

[2018-01-25 18:40] Gnat008 commented on #297
Currently you would have to uninstall Java 9, and install Java 8.

[2018-01-25 18:40] CrabGame commented on #297
ok
i understand Sir
Much thanks for your help

[2018-01-25 18:42] CrabGame commented on #297
so i just need to change to java 8

[2018-01-25 18:42] CrabGame commented on #297
that easy?

[2018-01-25 18:42] Gnat008 commented on #297
Correct.

[2018-01-25 18:43] CrabGame commented on #297
ok please chat to me when it works with java 9

[2018-01-25 18:44] Gnat008 commented on #297
Just keep watching #260 :)
You can subscribe to it to get email notifications.

[2018-01-25 18:44] #297 closed

[2018-01-25 18:45] CrabGame commented on #297
yes

[2018-01-25 18:45] CrabGame commented on #297
it works

[2018-01-25 22:32] BeatlesDev commented on #296
Hi there!

I have determined that you are receiving this error because your server version is 1.8.8 (which didn't have attributes yet which is why you got the error). We have now developed a fix for this since we still want the plugin to be accessible for the 1.8 version of Minecraft, so go ahead and download the new version of PerWorldInventory!

Thank you!

[2018-01-25 23:43] BeatlesDev commented on #285
Hi there!

I have determined that you are receiving this error because your server version is 1.8.8 (which didn't have attributes yet which is why you got the error). We have now developed a fix for this since we still want the plugin to be accessible for the 1.8 version of Minecraft, so go ahead and download the new version of PerWorldInventory!

Thank you!

[2018-01-25 23:43] #285 closed

[2018-01-25 23:45] BeatlesDev commented on #269
Hi there!

I have determined that you are receiving this error because your server version is 1.8.8 (which didn't have attributes yet which is why you got the error). We have now developed a fix for this since we still want the plugin to be accessible for the 1.8 version of Minecraft, so go ahead and download the new version of PerWorldInventory!

Thank you!

[2018-01-25 23:45] #269 closed

[2018-01-25 23:51] BeatlesDev commented on #225
Hi there!

I have determined that you are receiving this error because your server version is 1.8.8 (which didn't have attributes yet which is why you got the error). We have now developed a fix for this since we still want the plugin to be accessible for the 1.8 version of Minecraft, so go ahead and download the new version of PerWorldInventory!

Thank you!

[2018-01-25 23:51] #225 closed

[2018-01-25 23:54] BeatlesDev commented on #203
Hi there!

I have determined that you are receiving this error because your server version is 1.8.8 (which didn't have attributes yet which is why you got the error). We have now developed a fix for this since we still want the plugin to be accessible for the 1.8 version of Minecraft, so go ahead and download the new version of PerWorldInventory!

Thank you!

[2018-01-25 23:54] #203 closed

[2018-01-26 00:02] BeatlesDev commented on #293
I'm sorry, but this wouldn't work. If you were to go to the "free world" and fill up you inventory but then went back to the "default world" where your pickaxe is, then where would the pickaxe go? I suggest just separating the inventory or finding some other easy fix for your issue.

Thanks anyways!

[2018-01-26 00:02] #293 closed

[2018-01-26 00:12] BeatlesDev commented on #287
I have checked your Minecraft version and I have determined that it is pre-1.8.3...definitely too old for PWI! I recommend upgrading to at least 1.8.8 (which is PWI compatible)!

[2018-01-26 00:12] #287 closed

[2018-01-26 14:58] ljacqu commented on #297
@Gnat008 As mentioned in #260, I cannot reproduce this. I'll give it a try again today but imho this shouldn't happen with the new injector version

[2018-01-26 15:48] BeatlesDev commented on #281
Please try to update to the latest version of PWI and see what happens.

[2018-01-27 03:37] #143 closed

[2018-01-27 03:41] BeatlesDev commented on #157
Yes, enderchests are separated in different groups. The current version of PWI has this as a fully functional feature.

[2018-01-27 03:42] #157 closed

[2018-01-27 03:49] BeatlesDev commented on #253
Hi, can you please post your worlds.yml if this is still an issue?

[2018-01-27 04:02] BeatlesDev commented on #233
I am unsure which version of minecraft your server is using, but our `load-data-on-join` setting could help with this issue if you use 1.9.2 or newer.

Also just wanted to mention that you put 1 second for `save-interval`, which could slow down server performance (default is 300 seconds). ;)

[2018-01-27 04:12] BeatlesDev commented on #295
I am assuming that you are using a minecraft server hosting website, and I recommend that you report this issue to them in hopes that they fix it.

We have now made it so the download points to the file itself in hopes that this will resolve your issue! Let me know what happens :)

[2018-01-27 04:20] #145 closed

[2018-01-27 05:15] itaquito commented on #289
Yeah,,, Still having the issue

[2018-01-27 11:48] FrankHeijden opened #298 "Incompatibility with PremiumVanish"
Bug;
https://youtu.be/8pMznm87reU

This issue is because of PremiumVanish's method of silently opening & closing a chest. It sets a player in Gm 3 right before they open a chest so its opening without making any animation or noise.

The author of PremiumVanish suggested i should go your guys.

I enabled in the config per gamemode inventories, and can't switch this off (my server is using that opti

[2018-01-27 13:24] #163 closed

[2018-01-27 15:37] Gnat008 commented on #298
Does this only occur when you're in the Creative game mode? Could possibly be caused by PWI lumping creative and spectator together.

[2018-01-28 00:04] FrankHeijden commented on #298
uhm this is done in survival mode - We switched from a creative world -> survival & opened a chest while being set in gamemode 3 real quick to silently open it.

Im suggesting a config option to disable perGamemodeInventories for certain gamemodes, such as spectator as it doesn't really matter to have a different inventory in spectator mode.

[2018-01-28 01:04] BeatlesDev commented on #298
We will perform some tests regarding this issue and hopefully our Kotlin rewrite version of PWI will fix this bug.

[2018-01-28 01:17] #170 closed

[2018-01-28 01:21] #236 closed

[2018-01-28 23:45] mibby opened #299 "NullPointerException: null value in entry: meta-type=null"
PerWorldInventory v1.11.3
Paper dev 1318 (Spigot 1.12.2)

[code]

[2018-01-29 16:50] apasionado opened #300 "I got an exception"
Plugin works fine, idk if this error could make any disaster but i get it every time a player moves into a world with a new inventory
[error](https://pastebin.com/2qRP4L1r)

[2018-01-29 22:09] #300 closed

[2018-01-29 22:15] Gnat008 commented on #300
Fix released on Spigot. Thanks for the report!

[2018-01-30 17:05] FrankHeijden opened #301 "Duplicate"
World1; survival
World2; creative

Player in gamemode 1 switches in World2 switches to World1 and is being set into gamemode 0, but keeps his gamemode 1 World2 inventory

pwi 11.4

[2018-01-30 17:09] FrankHeijden commented on #301
[code]

[2018-01-30 17:09] FrankHeijden commented on #301
[code]

[2018-01-30 17:41] FrankHeijden commented on #301
Okay i found the issue;

CREATIVE inventory = the same as the SPECTATOR gamemode. the issue with Premiumvanish can also be fixed if there was a config option to have the same inventory for Spectator & survival, so instead of

spectator = creative inv
to:
spectator = survival inv

[2018-01-31 05:55] GabiKleebi02 commented on #253
I do not have the problem anymore :)

[2018-01-31 05:55] #253 closed

[2018-01-31 23:31] Gnat008 commented on #301
Noted. This will be addressed in the v2 rewrite.

[2018-01-31 23:32] Gnat008 commented on #301
Duplicate of #298

[2018-01-31 23:32] #301 closed

[2018-02-12 05:08] bc-hill commented on #292
@Gnat008 This will not be improved in your rewrite?

[2018-02-15 18:43] CodingAir opened #302 "NullPointerException"
Had this error. Run the command "/pwi" the first time. Didn't use this plugin before...

[19:52:33 ERROR]: null
org.bukkit.command.CommandException: Unhandled exception executing command 'pwi' in plugin PerWorldInventory v1.11.5
at org.bukkit.command.PluginCommand.execute(PluginCommand.java:46) ~[spigot.jar:git-Spigot-550ebace-7019900e]
at org.bukkit.command.SimpleCommandMap.dispatch(SimpleCommand

[2018-02-16 13:23] ScuroK opened #303 "Exploit with MyPet and AncientGates"
Im using the latest version of pwi on Spigot 1.12.2 together with MyPet and AncientGates.

Here is another exploit i found:

1.) 2 World with different Inventories are connected with AncientGates-Portals.
2.) Gates are setuo to deny any entities-transport.
3.) players ride on a pet (MyPet) into the portal.
4.) After glitching back and forward between the portals the Inventories get switched.

[2018-02-16 14:08] DisTrugator opened #304 "Incompatibility with EssentialsX Latest DEV"
Hello,
Today after i try to use separate economy option from config, a see that the plugin don't take the money from EssentialsEconomy and give this error in consola when i restart the server:

16.02 16:56:18 [Server] INFO java.lang.RuntimeException: Essentials API is called before Essentials is loaded.
16.02 16:56:18 [Server] INFO at com.earth2me.essentials.api.Economy.getUserByName(Economy.java:

[2018-02-17 23:09] RiizenRiiVolVer opened #305 "How to import Inventory from local world"
I have a local minecraft world and imported it into multiverse, but my inventory is empty.. How do I import inventories from a local world into pwi?

[2018-02-18 22:41] arbolitoloco2169 opened #306 "Doesn't work with the armor"
Hello, the plugin doesn't work with the armor, when I change of world the inventory changes but the armor is the same on all the worlds. Can you help me? Thanks

[2018-02-22 17:51] xXIOSCARIXx opened #307 "Economy warning message"
I get this warning whatever i do, but it all seems to work

[PerWorldInventory] [ECON] Unable to withdraw currency from bank of 'xXIOSCARIXx': null

[2018-02-28 00:24] anemul opened #308 "Falling"
I had to remove PWI from my server , it was conflicting with SkyWarsReloaded . When I would die , I would go into spectator mode as I am suppose to but couldn't fly and fell into the void , when game ended and I spawned back in lobby and I died from fall damage . Removed PWI and it didn't happen anymore .

[2018-03-01 16:57] Dalten opened #309 "/pwi convert Multiverse exception"
exception occurring when trying to run `/pwi convert multiverse`, either from game or console.
using spigot 1.12.2 compiled on 2018-02-22
result: database not converted to PWI. please let me know what other info I can provide, thank you.

`[11:40:13] [Server thread/INFO]: [0;34;1m» [0;37;22mConverting from Multiverse-Inventories! This may take a while for many players...[m
[11:40:13] [Server th

[2018-03-04 19:10] Woppow1 opened #310 "Won't make default gamemode adventure"
I have some worlds set to the default-gamemode ADVENTURE, but when I go to the world it puts my in survival mode. I am using multiverse-core and multiverse-portals, so I don't know if the multiverse portals plugin is changing my gamemode to survival. Please help
My worlds.yml file is as follows:
# In this file you define your groups and the worlds in them.
# Follow this format:
# groups:
#   defau

[2018-03-06 10:41] lester695 opened #311 "Doesn't work... tried different versions, same error"
[11:40:10 INFO]: [PerWorldInventory] Enabling PerWorldInventory v1.11.5
[11:40:11 ERROR]: Error occurred while enabling PerWorldInventory v1.11.5 (Is it up to date?)
java.lang.NoClassDefFoundError: javax/annotation/PostConstruct
        at ch.jalu.injector.handlers.postconstruct.PostConstructMethodInvoker.getAndValidatePostConstructMethod(PostConstructMethodInvoker.java:47) ~[?:?]
        at ch.ja

[2018-03-06 17:58] ljacqu commented on #311
Duplicate of #260

[2018-03-06 17:59] Gnat008 commented on #311
See linked issue above. ^

[2018-03-06 17:59] #311 closed

[2018-03-06 18:06] Gnat008 commented on #306
Are there any errors on the console when this happens? Armor is working fine for me.

[2018-03-11 00:44] Prunt opened #312 "PWI compatibility with RestrictedCreative"
I tried to contact the PWI author via PM, but got no response, so I decided to post it here as well in the hopes that it will get noticed:

[2018-03-11 02:40] Gnat008 commented on #312
Your users might try disabling the 'separate-gamemode-inventories' option in their PWI configs; that way, PWI won't do anything on GameMode changes. Worth a shot to see if that helps, anyway.

[2018-03-15 12:20] Prunt commented on #312
Thank you, it worked! I don't know why didn't I think of looking in the config before.

[2018-03-15 12:20] #312 closed

[2018-03-15 12:36] srottschaefer commented on #108
Does this currently work in PWI version 1.11.5? I Set up 2 worlds "world" and "world2" and put each of them in their own group. But when I teleport between them I always get teleported to the world spawn location instead of where I left.

[2018-03-16 12:48] Phoetrix opened #313 "Lose XP when player die and the Gamerule keepInventory set to true"
Hi!

I have a problem since the version 1.11.0. When I was on version 1.10.0, my players doesn't lose their xp because I have set the gamerule keepInventory on true. But in version 1.11.0 and others next versions, players lose their xp.

Note: I don't lose my XP when I die because I am OP.
Is it possible to fix this issue?

Thank you in advance! ^^

[2018-03-18 22:25] poppoppo opened #314 "Inventory deletion in certain worlds"
This is a very strange bug, on the old version of this plugin that i used (1.8.3) only 1 out for 3 worlds would save the inventory and enderchest, while on the newest version that i installed today (1.11.5) the other 2 worlds now save the inventory, however the first one (the one that worked) now deletes it. I have tried multiple things so far, the bypass permission will stop the inventorys from g

[2018-03-23 12:08] MrKiller01 opened #315 "Inventory between GM0 and GM1 differ, when connection drops, inventory is not restored"
Hi, I inherited a server where this plugin of yours was running and I noticed a few off-things during investigating but did nothing with that, until now!
As co-Owner of our server, I like to play too in survivalmode, just to keep me busy. Just as I gained enough XP to make some great books for my hardware, and did that, I went from survival to creative just to check a thing or two out. When I went

[2018-03-24 00:35] Gnat008 commented on #315
Can you show me your PWI config?

[2018-03-24 20:39] Woppow1 commented on #310
Please Help

[2018-03-24 21:00] Gnat008 commented on #310
What is 'manage-gamemodes' set to in the PWI config? Also note that by default Multiverse sets your game mode on entering the world. The only way to stop that is to give your players the bypass permission for it.

[2018-03-24 21:37] Woppow1 commented on #310
This is my PWI config, I will try and set the, "Disables bypass regardless of permission
# Defaults to false
disable-bypass: true", and see if that helps.

##########################################
#  PerWorldInventory configuration file  #
##########################################

# If true, the server will change player's gamemodes when entering a world
# The gamemode set is configured in the

[2018-03-24 21:38] Woppow1 commented on #310
Thanks you!

[2018-03-24 21:38] Woppow1 commented on #310
Thank you

[2018-03-24 21:39] Gnat008 commented on #310
You have 'manage-gamemodes' set to false. Therefore PWI won't change the game mode.

[2018-03-24 21:39] Gnat008 commented on #310
Also the PWI bypass is irrelevant. I meant in Multiverse.

[2018-03-24 22:08] Woppow1 commented on #310
Ok I changed all the gamemode to ADVENTURE in multiverse, does this look right. Thank you
worlds:
  RedStoneHeart.net_the_end:
    ==: MVWorld
    hidden: 'false'
    alias: RedStoneHeart.net_the_end
    color: WHITE
    style: NORMAL
    pvp: 'true'
    scale: '16.0'
    respawnWorld: ''
    allowWeather: 'true'
    difficulty: PEACEFUL
    spawning:
      ==: MVSpawnSettings
      animals:

[2018-03-25 01:19] Woppow1 commented on #310
Please help, I would greatly appreciate it.

[2018-03-25 09:46] MrKiller01 commented on #315
It has not been altered since we took over this server, so I did no editing, neither did we apparently watched this behavior before, until I did notice something wrong.
`
# If true, the server will change player's gamemodes when entering a world
# The gamemode set is configured in the worlds.yml file
manage-gamemodes: false
# If true, players will have different inventories for each gamemode
separ

[2018-03-25 09:51] MrKiller01 commented on #315
Sorry for the big texts, i tried to make it smaller, but apparently the #-sign did this...

[2018-03-25 17:40] Woppow1 commented on #310
I gave myself the bypass permission from Multiverse-Core and my console kicked me off:
10:38:15 AM PerWorldInventory: [DEBUG] Saving cached player 'woliver01' for group 'Parkour1' with gamemdde 'SURVIVAL'
10:38:15 AM PerWorldInventory: [DEBUG] Saving cached player 'woliver01' for group 'Parkour2' with gamemdde 'ADVENTURE'
10:38:15 AM CONSOLE: ERROR]: Could not pass event PlayerQuitEvent to PerWorl

[2018-04-02 02:20] sk33lz commented on #315
Using the code formatting is actually preferred for most developers. I would remove the extra `-` character you added and use the code formatting instead. It might look weird to you, but it looks perfectly fine to a developer. Modifying the code will actually make the issue harder to debug, and might lead to errors for you or others that don't remove the `-` in the final code used their server.

[2018-04-03 08:03] CanOdope commented on #315
I've also been having this issue for a couple weeks now.

It happens every time I go to either gamemode c or a creative world (Multiverse-Core) and exit MC without first going back to gamemode 0 or a survival only world. In other words, if I exit MC from a creative world/mode, the next time I log into the server, I'm back in the main survival world, in survival mode, and all of my inventory has be

[2018-04-12 23:01] Jocke155 commented on #315
I also have a problem where the inventory doesn't restore correctly when going to a creative world, and then back to survival. It clear both ways.. The debug mode doesn't really show anything that seems to be wrong.

[2018-04-16 13:18] Mundo-Minecraft opened #316 "Error in java9"
Hi, I have a problem with the plugin when using java9. With java8 everything works fine, but in java9 it indicates the following:

https://pastebin.com/Zj9fQiQh

Thanks and regards

[2018-04-18 22:40] ljacqu commented on #316
Duplicate of #311

[2018-04-22 02:46] RandomGgames commented on #313
same problem here.

[2018-04-24 16:56] AnUglyWeirdo commented on #315
I'm currently having this exact problem too, it only seems to delete mine and players' inventories when going from a creative world to a survival world, any other time it works fine. Very annoying when it keeps deleting mine and my players inventories somewhat often.

[2018-04-27 22:11] AllycatYT opened #317 "Inventories not sharing between worlds at all? HELP"
I have a 1.12.2 server and I want my main survival world, the nether, and the end to share the same inventory, levels, everything. No matter what I try to do in the config or world.yml for PWI, nothing changes it.

Here is my config.yml:

##########################################
# PerWorldInventory configuration file #
##########################################

# If true, the server will change

[2018-04-28 20:03] mibby opened #318 "[Java 10] NoClassDefFoundError: javax/annotation/PostConstruct"
PerWorldInventory v1.11.5
Paper dev 1403 (Spigot 1.12.2)
Java SE 10.0.1

@Gnat008 Updated my server environment to java 10 out of curiosity. Surprised to find that out of 110+ plugins, only 2 actually had issues. Figured I'd forward this to you. :)

[code]

Java SE 8u172 doesn't output this error at start-up.

[2018-04-29 05:35] ljacqu commented on #318
Duplicate of #316

[2018-05-06 00:29] Twingary opened #319 "My economy balance gets reset when I travel to a world and back or switch gamemodes and switch back."
Hi, I recently started using PerWorldInventory specifically so I could separate the economies between my creative world and survival world. But I've ran into an issue that when I switch gamemodes and switch back, I will get this issue in the console
[Sat, 5. May 2018 20:27:50 EDT INFO] twingary issued server command: /gmc
[Sat, 5. May 2018 20:27:50 EDT WARN] [PerWorldInventory] [ECON] Unable to wi

[2018-05-07 22:34] pocketcraft1 opened #320 "Bypass Permission Not Working"
The permission perworldinventory.bypass.* does not stop my inventory or gamemode from changing.

[2018-05-09 13:04] CloudeLecaw opened #321 "unknow Error"
[code]

[2018-05-09 15:45] Gnat008 commented on #321
Wrong tracker. I'll copy it for you.

[2018-05-09 15:45] #321 closed

[2018-05-19 14:38] zettlinger commented on #313
same

[2018-05-26 12:04] dxf opened #322 "Inventories not returning when players switch from and back to survival world."
PWI config: https://my.mixtape.moe/yyjraf.yml
PWI worlds: https://my.mixtape.moe/spmatp.yml
Multiverse config: https://my.mixtape.moe/chlums.yml
Multiverse worlds: https://my.mixtape.moe/vwgsge.yml

[2018-05-27 14:53] superboy910 opened #323 "enderchests are being deleted"
up till now 3 players' enderchest deleted i dont know what to do can you help me please. thx

[2018-06-02 10:01] #322 closed

[2018-06-17 00:54] K1ish opened #324 "Feature Request: Add "world groups"/sets for perms"
Hello,
I'd like to request that you add groups of worlds.
When I am trying to have a permission apply on a specific set of worlds (Not globally) I have to duplicate the permission node in the editor 4 times for each world.
Can you add it so you can (in config.yml) set multiple "sets" of worlds. You would be able to have a permission's world as the name of a "world set" you have configured and the

[2018-06-17 05:22] #324 closed, assigned to nobody